.container
   .page-header
      h1
         span(ng-bind-html="project.proj_name|sanitize")
         =' '
         small Project
   .row
      .col-md-12
         leaflet(center="center",controls="controls",markers="projectMarkers",tiles="tiles", height='240px')
   .row
      .col-md-6
         .info-box
            h2 Project Info
            table#project-info
               tbody
                  tr
                     td.detail_label ID:
                     td.project_id {{project._id}}
                  tr
                     td.detail_label.small Project site name:
                     td.project_site
                        span(ng-repeat='site in project.proj_site_name')
                           span {{site.string}}
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Country:
                     td.project_country: text(ng-repeat="country in project.proj_country | unique: 'iso2'")
                        a(href='country/{{country.country.iso2}}')
                           span(ng-bind-html="country.country.name|sanitize")
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Aliases:
                     td.project_aliases
                        span(ng-repeat='alias in project.proj_aliases')
                           span {{alias.alias}}
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Commodity Type(s):
                     td.project_type
                        span(ng-repeat='type in project.proj_type')
                           span {{type.string | ucfirst}}
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Commodities:
                     td.project_commodities
                        text(ng-repeat="commodity in project.proj_commodity | unique: 'project._id'")
                           a(href='commoddity/{{commodity.commodity._id}}')
                              span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Status:
                     td.project_status: text(
                     ng-repeat="status in project.proj_status"
                     ng-if="project.proj_status.length > 0")
                        text(ng-if="$last")
                           | {{status.string | ucfirst}}
                           text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
                  tr
                     td.detail_label.small Contracts:
                     td
                        span(ng-repeat='contract in project.contracts')
                           a(href='contract/{{contract.contract._id}}')
                              span(ng-bind-html="contract.contract.contract_id|sanitize")
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Concessions:
                     td.project_contracts: text(
                     ng-repeat='concession in project.concessions')
                           a(href='concession/{{concession._id}}')
                              span(ng-bind-html="concession.concession_name|sanitize")
                           | {{$last ? '' : ', '}}
                  tr
                     td.detail_label.small Address:
                     td.project_address: text(
                     ng-repeat='address in project.proj_address')
                           span(ng-bind-html="address.string|sanitize")
                           | {{$last ? '' : ', '}}

                  tr
                     td.detail_label.small(colspan='2')
                        p Location(s):
                        table.table.table-striped.locations(ts-wrapper)
                           tbody
                              tr
                                 th.tablesort-sortable-th(ts-criteria='name') Name
                                 th.tablesort-sortable-th(ts-criteria='loc[0]') Lat
                                 th.tablesort-sortable-th(ts-criteria='loc[1]') Lng
                                 th.location-th
                              tr(ng-repeat='marker in project.proj_coordinates',ts-repeat)
                                 td
                                    text name
                                 td
                                    span(ng-if='marker.loc[0]!=0') {{marker.loc[0]}}
                                 td
                                    span(ng-if='marker.loc[1]!=0') {{marker.loc[1]}}
                                 td
                                    span(ng-if='marker.loc[0]!=0') True at: {{marker.timestamp|date:'yyyy-MM-dd'}}
      .col-md-6
         .info-box
            h2
               | &nbsp;
            table#project-info
               tbody
                  tr
                     td.project-label.our-id Desctiption:
                     td.project-description
                        span(ng-bind-html="project.description|sanitize")
         h2 Companies
         table.table.table-striped.companies(ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='name') Name
                  th.tablesort-sortable-th(ts-criteria='group') Group
                  th.tablesort-sortable-th(ts-criteria='stake') Stake
            tbody
               tr(ng-repeat='company in project.companies',ts-repeat)
                  td
                     a(href='company/{{company._id}}')
                        span(ng-bind-html="company.company_name|sanitize")
                  td SUB SUB QUERY
                  td 10%
         .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            =' '
            span Download:
               =' '
               a(href="") Companies CSV
               //a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fcompany+%3Fcompany_name+%3Fgroup+%3FgroupName+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fproject%2FMX%2Fadar-gok3sd%3E+rp%3AhasStake+%3Fstake+.%0A++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A++++%3Fcompany+a+rp%3ACompany%0A++++OPTIONAL+%7B+%3Fcompany+skos%3AprefLabel+%3Fcompany_name+%7D+%0A++++%0A++++OPTIONAL+%7B+%3FgroupMembership+rp%3Aorganisation+%3Fcompany+.%0A+++++++++++++++%3Fgroup+rp%3AgroupMember+%3FgroupMembership+.%0A+++++++++++++++%3Fgroup+skos%3AprefLabel+%3FgroupName%0A++++%7D%0A%7D%0AGROUP+BY+%3Fcompany+%3Fstake+%0AORDER+BY+%3Fcompany_name%0A&format=text%2Fcsv&timeout=0&debug=on')
   .row
      .col-md-12
         nrgi-production-table(prodactions="project.prodactions")

   .row
      .col-md-12
         nrgi-transfer-table(transfers="project.transfers")

   .advanced-links
      .container
         h3
            a(href='source/{{project.proj_established_source}}') Sources
