.container
   .page-header
      .row
       .col-md-3
         h1 Projects
         small
       .col-md-3
         .btn-group(role='group', aria-label='...')
            button.btn.btn-default(type='button')
               a(href='/map') Map View

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")

   table#projects.table.table-striped(about='http://resourceprojects.org/project',ts-wrapper)
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='proj_name') Name
            th.tablesort-sortable-th(ts-criteria='country.name') Country
            th.tablesort-sortable-th(ts-criteria='proj_type') Commodity Type
            th.tablesort-sortable-th(ts-criteria='commodity_name') Commodity
            th.tablesort-sortable-th(ts-criteria='proj_status') Status
            th.tablesort-sortable-th(ts-criteria="companies|parseInt") No.Companies
      tbody
         tr(ng-repeat='project in projects',ts-repeat)
            td
               a(href='/project/{{project.country.iso2}}/{{project._id}}')
                  span(ng-bind-html="project.proj_name|sanitize")
            td
               a(href='/country/{{project.country._id}}')
                  span(ng-bind-html="project.country.name|sanitize")
            td.commodity_type {{project.proj_type}}
            td {{project.commodities_name}}
            td.status {{project.proj_status}}
               =' '
               span(ng-if="project.proj_status!=''") (True at: {{project.proj_status_date|date:'yyyy-MM-dd'}})
            td
               span(ng-if="project.companies!=0") {{project.companies}}

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")
