.container
   .page-header
      .row
       .col-md-3
         h1 Projects
         small
       .col-md-3
         .btn-group(role='group', aria-label='...')
            button.btn.btn-default(type='button')
               a(href='/map') Map View

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")

   table#projects.table.table-striped(about='http://resourceprojects.org/project',ts-wrapper)
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='name') Name
            th.tablesort-sortable-th(ts-criteria='country') Country
            th.tablesort-sortable-th(ts-criteria='type') Commodity Type
            th.tablesort-sortable-th(ts-criteria='commodity') Commodity
            th.tablesort-sortable-th(ts-criteria='status') Status
            th.tablesort-sortable-th(ts-criteria="number|parseInt") No.Companies
      tbody
         tr(ng-repeat='project in projects',ts-repeat)
            td
               a(href='/project/MX/{{project._id}}')
                  span(ng-bind-html="project.proj_name|sanitize")
            td {{project.countries}}
            td {{project.type}}
            td {{project.commodity}}
            td {{project.status}}
            td {{project.number}}

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")
