.container
    .row.pagetitle
        .col-md-4
            h1 Payments
                = ' '
                small(ng-if="count") {{count}}

    .row.top-padding-med
        .right-padding-lg: b Filter by:
    .row.top-padding-med
        .col-md-2
            .row: b Year
            .row
                form.form-inline
                    .form-group
                        select.form-control(ng-model="year_filter")
                            option(value="") Show all years
                            option(ng-repeat="(key, value) in year_selector" value="{{key}}") {{key}}: {{value}} records

    .row.top-padding-med
        table#payments.table.table-striped(
        about='http://resourceprojects.org/transfer'
        ts-wrapper)
            thead
                tr
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                    th.tablesort-sortable-th(ts-criteria='company.company_name') Paid By
                    th.tablesort-sortable-th(ts-criteria='country.name') Paid To
                    th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Currency
                    th.tablesort-sortable-th(ts-criteria='transfer_value') Value
                    th.tablesort-sortable-th(ts-criteria='proj_site.type') Level
                    th.tablesort-sortable-th(ts-criteria='transfer_audit_type') Payment or Reciept?
                    th.tablesort-sortable-th(ts-criteria='proj_site.name') Projects and Sites

            tbody
                tr(
                ng-repeat="transfer in transfers | unique: '_id'"
                ts-repeat)
                    td.transfer_year {{transfer.transfer_year}}
                    td.transfer_company: a(href='company/{{transfer.company._id}}')
                        span(ng-bind-html="transfer.company.company_name|sanitize")
                    td.transfer_country: a(href='country/{{transfer.country.iso2}}')
                        span(ng-bind-html="transfer.country.name|sanitize")
                    td.transfer_type {{transfer.transfer_type}}
                    td.transfer_currency {{transfer.transfer_unit}}
                    td.transfer_value {{transfer.transfer_value}}
                    td.transfer_level {{transfer.proj_site.type | addSpaces | ucfirst}}
                    td.transfer_type {{transfer.transfer_audit_type | addSpaces | ucfirst}}
                    td.transfer_type: a(href='{{transfer.proj_site.type}}/{{transfer.proj_site._id}}') {{transfer.proj_site.name}}
