.container
    .row.pagetitle
        .col-md-4
            h1 Payments
                = ' '
                small(ng-if="count") {{count}}

    .row.top-padding-med
        table#payments.table.table-striped(
        about='http://resourceprojects.org/transfer'
        ts-wrapper)
            thead
                tr
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Year
                    th.tablesort-sortable-th(ts-criteria='company.company_name') Paid By
                    th.tablesort-sortable-th(ts-criteria='country.name') Paid To
                    th.tablesort-sortable-th(ts-criteria='transfer_type') Payment Type
                    th.tablesort-sortable-th(ts-criteria='transfer_year') Currency
                    th.tablesort-sortable-th(ts-criteria='transfer_value') Value
                    th.tablesort-sortable-th(ts-criteria='transfer_level') Level
                    th.tablesort-sortable-th(ts-criteria='transfer_audit_type') Payment or Reciept?

            tbody
                tr(
                ng-repeat="transfer in transfers | unique: '_id'"
                ts-repeat)
                    td.transfer_year {{transfer.transfer_year}}
                    td.transfer_company: a(href='company/{{transfer.company._id}}')
                        span(ng-bind-html="transfer.company.company_name|sanitize")
                    td.transfer_country: a(href='country/{{transfer.country.iso2}}')
                        span(ng-bind-html="transfer.country.name|sanitize")
                    td.transfer_type {{transfer.transfer_type}}
                    td.transfer_currency {{transfer.transfer_unit}}
                    td.transfer_value {{transfer.transfer_value}}
                    td.transfer_level {{transfer.transfer_level}}
                    td.transfer_type {{transfer.transfer_audit_type | addSpaces | ucfirst}}



    //                td.proj_verified
    //                    i.glyphicon.glyphicon-check.text-success(ng-if="project.verified==='verified'")
    //                    i.glyphicon.glyphicon-ban-circle.text-danger(ng-if="project.verified==='none'")
    //                    text(ng-class="{'text-success': project.verified==='verified', 'text-warning': project.verified==='payment' || project.verified==='context', 'text-danger': project.verified==='none'}")  {{project.verified | ucfirst}}
    //                td.proj_country: text(ng-repeat="country in project.proj_country | unique: 'country._id'")
    //                    a(href='/country/{{country.country.iso2}}')
    //                        span(ng-bind-html="country.country.name|sanitize")
    //                    | {{$last ? '' : ', '}}
    //                td.proj_commodity_type
    //                    text(ng-repeat="commodity in project.proj_commodity | unique: 'commodity.commodity_type'")
    //                        | {{commodity.commodity.commodity_type | ucfirst | addSpaces}}
    //                        | {{$last ? '' : ', '}}
    //                td.proj_commodity: text(ng-repeat="commodity in project.proj_commodity | unique: 'commodity._id'")
    //                    a(href='commodity/{{commodity.commodity.commodity_id}}')
    //                        span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
    //                    | {{$last ? '' : ', '}}
    //                td.proj_status
    //                    em(ng-if="project.proj_status.length<1") ..
    //                    text(
    //                    ng-if="project.proj_status.length>0"
    //                    ng-repeat="status in project.proj_status")
    //                        text(ng-if="$last")
    //                            | {{status.string | ucfirst}}
    //                            text.small(ng-if="status.timestamp")  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
    //                td.text-center.proj_company_count {{project.company_count}}
    //                td.text-center.proj_transfer_count {{project.transfer_count}}
    //                td.text-center.proj_transfer_count {{project.production_count}}
    //                //td.col-md-1.text-center.proj_associated_transfer_count {{project.site_transfers}}
    //
    //div(ng-if='projects.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')
    //div(ng-if="projects.length>0")
    //    .download
    //        span.glyphicon.glyphicon-download(aria-hidden="true")
    //        span  Download:
    //        =' '
    //        a(
    //        href=""
    //        ng-csv="csv_projects"
    //        csv-header="getHeaderProjects()"
    //        filename="allProjects.csv") Projects CSV
    //.row.top-padding-med
    //    table#projects.table.table-striped(ts-wrapper)
    //        thead
    //            tr