.container
    .row.top-padding-med.bottom-padding-med
        .col-md-6
            h1 Source Types

    .row.bottom-padding-lg
        div.col-md-5
            a.btn.block.btn-primary-outline(href="/admin/create-sourceType") Create new source type
        div.col-md-4
        div.col-md-3
            form.form-inline
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")

    table#sourceTypes.table(ts-wrapper)
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='source_type_name') Source type name
                th.tablesort-sortable-th(ts-criteria='source_type_id') Source type id
                th.tablesort-sortable-th(ts-criteria='source_type_authority') Source type authority
                th.tablesort-sortable-th(ts-criteria='source_type_display') Source type display
                th

        tbody
            tr(ng-repeat="sourceType in sourceTypes | filter:search_text | unique: '_id'" ts-repeat)
                td.source_name
                    span(ng-bind-html="sourceType.source_type_name|sanitize")
                td.source_type {{sourceType.source_type_id}}
                td.source_date {{sourceType.source_type_authority}}
                td.source_date
                    span(ng-if='sourceType.source_type_display') Display
                    span(ng-if='!sourceType.source_type_display') No Display
                td
                    a.btn.center-block.btn-primary-outline(href="/admin/sourceType-admin/{{sourceType._id}}") Edit