.container
    .row.top-padding-med.bottom-padding-med
        .col-md-4
            h1 Commodities

    table#commodities.table.table-striped.table-fixed-header(ts-wrapper)
        thead.header
            tr
                th.tablesort-sortable-th(ts-criteria='commodity_name') Name
                th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
        thead.header-copy.header.hide
            tr
                th.tablesort-sortable-th(ts-criteria='commodity_name') Name
                th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
        tbody
            tr(ng-repeat="commodity in commodities | unique: '_id'" ts-repeat)
                td.commodity_name
                    a(href='commodity/{{commodity.commodity_id}}')
                        span(ng-bind-html="commodity.commodity_name|sanitize")
                td.commodity_projects {{commodity.projects}}

    div(ng-if='commodities.length>49' infinite-scroll='loadMore()' infinite-scroll-distance='1')
    div(ng-if="commodities.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden="true")
            span  Download:
            =' '
            a(
            href=""
            ng-csv="csv_commodities"
            csv-header="getHeaderCommodities()"
            filename="allCommoditiesList.csv") Commodities CSV