.container
    .row.pagetitle
        .col-md-4
            h1 Payments
                = ' '
                small(ng-if="count") {{count}}
    //.row.top-padding-med
    //    table#projects.table.table-striped(ts-wrapper)
    //        thead
    //            tr