.container(ng-controller="nrgiMapSiteCtrl")
  .page-header
      .row
        .col-md-4
            h1 {{header}} Map
        .col-md-5
        .col-md-3
          .btn-group(role='group', aria-label='...')
              button.btn.btn-default.pull-right(type='button')
                  a(href='/{{record_type}}') List View

  .row
     .col-md-12
       #map
         nrgi-leaflet#projectMap(data='siteMarkers' site='field' map='true')
