.container(ng-controller="nrgiNavBarLoginCtrl")
    .page-header
        h1 About
    p Across the world, governments and companies are involved in natural resource projects, generating billions of dollars. The Natural Resource Governance Institute (NRGI) works to help people to realize the benefits of the endowments of oil, gas and minerals in their countries. Transparency is an important part of this, and new regulations are coming into force around the world to encourage greater project-level disclosure of extractives activities and revenues.
    p ResourceProjects.org is a prototype platform to bring together data on individual extractives projects.

    h2#why-project-level-data-matters Why project level data matters

    p Projects represent the physical, tangible presence of extractive operations in a country. The project is the mine that people see out of their window, or the oil field along their coastline. It has a location, an owner, and it employs people. Each projects is tied to a contract, or license.
    p
        | Governments and citizens groups alike can use project data to model resource project revenues and consequently forecast budgets, such as
        a(href='http://www.resourcegovernance.org/news/blog/forecasting-ghanas-oil-revenues-what-open-fiscal-modelling-tells-us-about-budget-year-ahea')  in Ghana
        =' where all interested parties can see how different oil prices affect the money available for the budget. Others, such as '
        a(href='http://ccsi.columbia.edu/work/projects/open-fiscal-models/') CCSI
        =', '
        a(href='http://www.globalwitness.org/ugandaoilcontracts/') Global Witness
        =', and '
        a(href='https://openoil.net/contract-modeling/')  Open Oil
        =' have modeled contracts to evaluate extractive deals, while IMF economists routinely use project-level information for fiscal design and technical assistance using their  '
        a(href='http://www.imf.org/external/np/fad/fari/') publicly available FARI model
        ='. Project information has a multitude of applications beyond fiscal modeling. It can be tied to spatial data to help better understand local impacts or environmental consequences, as highlighted by recent '
        a(href='http://www.annualreviews.org/doi/abs/10.1146/annurev-resource-100814-125106') academic
        =' '
        a(href='http://www.theigc.org/wp-content/uploads/2014/09/Aragon-Rud-2013-Working-Paper.pdf') papers
        |.

    h2#why-we-are-building-this-tool Why we are building this tool

    p Information on extractive projects are scattered across  different company and government websites, databases compiled by regulators, international organizations, industry and civil society. Some of it is in PDF,  some in spreadsheets and some is in computer queryable databases, but these are rarely linked to each other at all.

    p This repository allows to bring these different information together in one place. Our aim is to enrich the project level payment data harvested from mandatory disclosures with additional contextual information on projects:

    ul
        li Name and aliases of project
        li Project type, status, commodity, location
        li Production volumes, reserves
        li Associated companies
        li Associated contracts
        li Associated concessions
        li Associated fields and sites
        li Detailed provenance

    p We are also working on linking the data gathered to existing repositories on related entities, such as OpenCorporates for associated companies, ResourceContracts for oil and mining contracts and Open Oil`s concession map. All of the information on the platform is stored with details on what source it came from and how it was retrieved.

    p By bringing this information together in a standardized and accessible format, we allowing to explore extractive projects with greater depth.


    h2#road-map Road map

    p We are working on adding the following features to the site:

    ul
        li An automated query which will import UK mandatory payment disclosures onto ResourceProjects.org as they are published throughout April and May
        li A payment page where project level disclosure can be browsed by source
        li Bulk download of data stored on the site
        li An API endpoint which will allow programmable querying of the database
        li Sort and search features to better navigate through the repository
        li Refining how additional data can be added to the site
        li Refinement of project verification methodology


    h2#how-to-get-involved How to get involved?

    p We are now looking for people who might be interested in getting involved in the site. We are inviting feedback and contributions to the site and its content. Further features and enhancements will be rolled out in the coming weeks and we are looking for content partners who can help contribute additional data on specific countries and projects. Further we would welcome any organisations or individuals who wish to lead on specific countries from upcoming mandatory disclosures (beyond UK and Norway).

    p If you would be interested please get in touch:
        ul
            li
                | Email:
                a(href='mailto:dmihalyi@resourcegovernance.org?Subject=Resource%20Projects%20inquiry' target="_top")  David Mihalyi

            li
                | Join the
                a(href='https://groups.google.com/forum/#!forum/resourceprojects')  google group
            li
                | Submit feedback on
                a(href='https://github.com/NRGI/rp-org-frontend')  GitHub


    h2#acknowledgements Acknowledgements

    p ResourceProjects.org was developed by NRGI with external support.

    p
        | We would like to thank
        a(href="http://www.opendataservices.coop/")  Open Data Services
        | ,
        a(hfref="http://openoil.net/")  Open Oil
        | , and
        a(href="http://smartlane.de/")  Smartlane
        |  for their valued contributions to the site.  We would also like to thank the following contributors to the data: Bence Kiss-Dobronyi, Min Lee, Manuel Llano, Julio Lopez and  Joseph Thiel.
