.container(ng-controller="nrgiNavBarLoginCtrl")
	.page-header
		h1 Glossary
		h2 Projects and interrelated key concepts:

		p
			strong Project (resource project):
			=' Resource projects represent the basic organizing unit for extractive operations in a country. Governments, companies and citizens all report a vast amount of information on a project by project basis. ResourceProjects.org refers to the EU Accounting Directive definition as our core means for defining a project. The EU definition will be applied by all EU countries and has already been used in voluntary company disclosures and mandatory  disclosures by companies based in Norway. It is also mirrored in the [draft] Extractive Sector Transparency Measures Act (ESTMA) technical reporting specifications in Canada.'
		p Some data sources may, however, define projects differently than the EU Accounting Directive and ESTMA. When this occurs, ResourceProjects.org does not attempt to impose an authoritative project definition or name. Instead, wherever possible, we link projects as defined under the Accounting Directive and ESTMA with other aliases by which they may be known in the public domain or in other data sources. By documenting different sources of how and how often projects are being referred to, ResourceProjects.org aims to build a comprehensive list of projects across the globe while also mapping out inconsistencies in project attribution.
		p
			a(href='http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32013L0034')  EU Accounting Directive
			=' (Directive 2013/34/EU, art 41(4)):'
			blockquote: small 'project' means the operational activities that are governed by a single contract, license, lease, concession or similar legal agreements and form the basis for payment liabilities with a government. None the less, if multiple such agreements are substantially interconnected, this shall be considered a project;“  (...) "Substantially interconnected legal agreements should be understood as a set of operationally and geographically integrated contracts, licenses, leases or concessions or related agreements with substantially similar terms that are signed with a government, giving rise to payment liabilities.
		p
			strong Contract (resource contract):
			=' An agreement or set of legal terms whereby generally a government entity or its representative (e.g., state owned enterprise) grants a company the right to explore and/or extract a resource in a given area in return for paying to the government royalties, taxes or other consideration. Resource contracts are known in different countries by various names, including lease, license, concession, block, mineral development agreement (MDA), and production sharing contract (PSC), among others. In ResourceProjects.org one or more contracts may be associated with a project: ideally via the contract title, and a web link to details of the full contract text.'
		p
			strong Concession Area / License Area  / Block :
			=' Designated geographic areas over which resource exploration and/or extraction rights are granted.The naming convention for areas designated for exploration and production varies across countries and between the petroleum and mining sectors.In practice a project is often associated with a single concession area / license area / block. Within  ResourceProjects.org one or more concession area / license area / block can be linked to a project.'
		p
			strong Oil or gas field:
			=' An area of land or seabed with a hydrocarbons reservoir or multiple geologically related reservoirs beneath, especially in amounts that justify commercial exploitation. When oil or gas fields are discovered, they are often given a name, sometimes following the name on the well with which the discovery was made. Oil and gas projects may aim to recover oil and/or gas from one or multiple connected fields.'
		p
			strong Mine site:
			=' Places or areas from which commercial minerals are or were removed by excavation. A project would typically include one or multiple closely linked mine sites.'

		h2 Company attributes:
		p
			strong Company:
			=' The name of the companies directly associated with the project. This can include companies that are holders of the mining or petroleum license, permit or other legal right to explore and/or extract, are signatories to the mining or petroleum contracts, have an ownership stake in the project, pay taxes related to commodity extraction to the government. Where possible, the recorded company name should match the name used in a national company registry or an opencorporates.org entry. Company group: Records the name of parent entities of the companies associated with a project. Where several layers of ownership exist, the name of the ultimate parent entity should be used. Often this may be the name of the entity listed on a stock exchange or of the entity that produces consolidated annual reports on behalf of subsidiaries.'
		p
			strong Company home country:
			=' Records the name of the country where the company directly associated with the project is registered.'
		p
			strong Company participating interest percentage:
			=' Joint ventures and other structures whereby two or more companies agree to share profit, loss and control in a certain project are common in the extractive sector, especially the oil industry. ResourceProjects.org records the participating interest percentage a company has in a project.'
		p
			strong Operator:
			=' The company responsible for managing operations with respect to a particular project. The operator designation is primarily used in oil projects involving a joint venture. ResourceProjects.org aims to identify the operator of a given project and and records whether a participating company acts as the operator. Where there is an operator it is sometimes explicitly identified in the contract and can  often be identified in government and/or company descriptions of the project.'
		h2 Project attributes:
		p
			strong Alias:
			=' A given project may appear under different aliases across reports and databases. This may include names in different language, colloquial names, shortened and full versions of project names.'
		p
			strong Status:
			=' ResourceProjects.org categorises project status according to the following general categories'
			em (based on EITI guidance)
			=' :'
		ol
			li Exploration: This stage includes early stage (mapping, sampling, seismic exploration) as well as late stage exploration involving project appraisal after discovery.
			li Construction/development: Phase following discovery and the decision to go-ahead with the project, usually based on commerciality. During this phase the  mine site or oil field is readied for production. This will include development / construction plans, and planning/constructing supporting infrastructure. Ends as production starts.
			li Production: The project is in production and an output for export or processing is available. Where existing operations are being expanded, these can still be listed as production stage.
			li On hold: Activity has been suspended for any number of reasons; technical, labor, environmental or political reasons, lack of funds etc. However, activity is expected to resume once the underlying factor has changed.
			li Inactive: All production activity has come to an end. Projects that are under care and maintenance can be listed here.
			li Unknown
		p
			strong Location of sites and fields:
			=' ResourceProjects.org records point coordinates (in lat-long format) identifying where the project is located. The extraction activities of a typical resource project are centered around an oil / gas field (and associated wells) or a mining site. Note that a single project may span across multiple oil fields or mining sites. For example the location of additional infrastructure that is referred to as part of the project but not directly related to extraction, such as processing plants, refineries, etc. can be recorded as separate sites with different locations.'
		p
			strong Commodity:
			=' The ResourceProjects.org repository focuses solely on non-renewable extractive resources. Projects are classified as either an &lsquo;oil and gas&rsquo; or &lsquo;mining&rsquo; project. These categories are then broken down into a list of commodities the project is producing or aims to produce. A project may have multiple commodities associated (ie. both oil and gas, or both gold and silver).'
		p
			strong Production:
			=' The quantity of a resource extracted in a given time period. Measurement units vary across commodity.'
		p
			strong Resource:
			=' A concentration of a naturally occurring commodity whose extraction is currently or may in the future be technically and economically feasible.'
		p
			strong Reserves:
			=' The subset of total resources that is currently commercially viable to extract. Definitions used around the world still differ somewhat but there is increasing standardisation. Oil reserves are further divided into the sub-categories: proven reserves (1P), probable reserves (2P) and possible reserves (3P). Mineral reserves are subdivided into probable and proved reserves. Measurement units vary across commodity.'
		h2 Payment attributes:
		p
			strong Project level payment:
			=' Payments made to government entities that are attributable to a particular project.'
		p
			strong Corporate level payment:
			=' Payment made to government entities that are incurred at the corporate level and are not easily attributable to a particular project'
		p
			strong Payment to governments:
			=' Payments to governments are amounts paid, whether in money or in kind, to a national, regional or local authority, departments or agencies of these authorities, or to a company majority-owned by such an authority.'
		p
			strong Payment Types:
			=' ResourceProjects.org allows payments to be classified into nine separate payment types. These payment types are based on those defined in the EU Accounting Directive.'
		ol
			li Taxes levied on the income, production or profits of companies
			li License fees, rental fees, entry fees, and other considerations for licenses and/or concessions
			li Dividends
			li Royalties
			li Signature, discovery and production bonuses
			li Production entitlements, which can be measured both in volumes (ie. barrels) and in value
			li Payments for infrastructure improvements
			li Other
			li Total (encapsulating payments that are not disaggregated by payment type)
		h2 Useful sources:
		h3 Payment reporting legislation and standards
		ul
			li
				a(href='http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32013L0034') EU Accounting Directive
			li
				a(href='http://laws-lois.justice.gc.ca/eng/acts/E-22.7/page-1.html') Extractive Sector Transparency Measures Act
				=' and accompanying [draft] '
				a(href='http://www.nrcan.gc.ca/sites/www.nrcan.gc.ca/files/pdf/estma/ESTMA_Guidance_e.pdf') Guidance
				=' and '
				a(href='http://www.nrcan.gc.ca/sites/www.nrcan.gc.ca/files/pdf/estma/Technical_Reporting_Specifications_EN.pdf') Technical Reporting Specifications
			li
				a(href='https://www.sec.gov/about/laws/wallstreetreform-cpa.pdf') Dodd Frank Act, Section 1504
				=': The Act requires companies listed on the US Securities and Exchange Commission (SEC) to report the payments made to governments for access to oil, gas and minerals on a project by project basis.'
			li
				a(href='https://eiti.org/files/English_EITI%20STANDARD_11July_0.pdf') EITI New Standard (2013)
				=': The amended EITI standard mandates reporting at the project level, provided it is consistent with the US and EU standards.'
		h3 Guides and resources on the extractive industries
		ul
			li
				a(href='http://openoil.net/understanding-oil-contracts/') Open Oil: Understanding Oil Contracts
			li
				a(href='http://naturalresourcecharter.org/') The Natural Resources Charter
			li
				a(href='https://www.documentcloud.org/documents/1279596-mining-contracts-how-to-read-and-understand-them.html') Mining Contracts: How to Read and Understand Them
			li
				a(href='http://www.ey.com/Publication/vwLUAssets/EY_-_Disclosing_government_payments_for_natural_resource_extraction/$FILE/EY-Disclosing-government-payments.pdf') Ernst and Young: Disclosing Government Payments
			li
				a(href='https://eiti.org/glossary') The EITI Glossary
		h3 Data sources
		ul
			li
				a(href='https://eiti.org/') Extractive Industries Transparency Initiative (EITI) reports
			li
				a(href='http://www.resourcecontracts.org/') resourcecontracts.org
			li
				a(href='https://opencorporates.com/') opencorporates
			li
				a(href='http://openoil.net') openoil.net



