.container
   .page-header
      h1
         | 9c82db15d194a2c2
         =' '
         small Government Receipt
   table.table.table-striped.tablesorter.tablesorter-default
      thead
         tr.tablesorter-headerRow
            th.tablesorter-header(data-column='0', tabindex='0', unselectable='on', style='-webkit-user-select: none;')
               .tablesorter-header-inner Paid by
            th.tablesorter-header(data-column='1', tabindex='0', unselectable='on', style='-webkit-user-select: none;')
               .tablesorter-header-inner Paid To
            th.tablesorter-header(data-column='2', tabindex='0', unselectable='on', style='-webkit-user-select: none;')
               .tablesorter-header-inner Payment Year
            th.tablesorter-header(data-column='3', tabindex='0', unselectable='on', style='-webkit-user-select: none;')
               .tablesorter-header-inner Payment Type
            th.tablesorter-header(data-column='4', tabindex='0', unselectable='on', style='-webkit-user-select: none;')
               .tablesorter-header-inner Currency
            th.tablesorter-header(data-column='5', tabindex='0', unselectable='on', style='-webkit-user-select: none;')
               .tablesorter-header-inner Value
      tbody
         tr
            td
               a(href='')
            td
               a(href='country/AO') Angola
            td 2009
            td Total
            td USD
            td 1394922844
         tr
            td
               a(href='')
            td
               a(href='country/AO') Angola
            td 2009
            td Total
            td USD
            td 1394922844
   .advanced-links
      .container
         h3
            | Links
            =' '
            small Advanced
         ul
            li
               a(href='governmentreceipt/AO/9c82db15d194a2c2') Triples View
            li
               a(href='governmentreceipt/AO/9c82db15d194a2c2') Sources
