.container
   table.table.table-striped(about='http://resourceprojects.org/production/AO/127434e6d53d5b8e')
      thead
         tr
            th Subject
            th Predicate
            th Object
      tbody
         tr
            td
               a(href='http://resourceprojects.org/production/AO/127434e6d53d5b8e') local_production_AO:127434e6d53d5b8e
            td
               a(href='http://www.w3.org/1999/02/22-rdf-syntax-ns#type') rdf:type
            td
               a(rel='http://www.w3.org/1999/02/22-rdf-syntax-ns#type', href='http://staging.nrgi-sandbox.net/def/Production') base_def:Production
         tr
            td
            td
               a(href='http://staging.nrgi-sandbox.net/def/hasCommodity') base_def:hasCommodity
            td
               a(rel='http://staging.nrgi-sandbox.net/def/hasCommodity', href='http://staging.nrgi-sandbox.net/commodity/Oil') base_commodity:Oil
         tr
            td
            td
               a(href='http://www.w3.org/ns/prov#wasDerivedFrom') prov:wasDerivedFrom
            td
               a(rel='http://www.w3.org/ns/prov#wasDerivedFrom', href='http://staging.nrgi-sandbox.net/prov/source/380ed8566baf02dc/sheet/8Production/row/78') base_prov_source_380ed8566baf02dc_sheet_8Production_row:78
         tr
            td
            td
               a(href='http://staging.nrgi-sandbox.net/def/misc/price') base_def_misc:price
            td
               span(property='http://staging.nrgi-sandbox.net/def/misc/price') 55
         tr
            td
            td
               a(href='http://staging.nrgi-sandbox.net/def/priceUnit') base_def:priceUnit
            td
               span(property='http://staging.nrgi-sandbox.net/def/priceUnit') $/bbl
         tr
            td
            td
               a(href='http://staging.nrgi-sandbox.net/def/unit') base_def:unit
            td
               span(property='http://staging.nrgi-sandbox.net/def/unit') bbl
         tr
            td
            td
               a(href='http://staging.nrgi-sandbox.net/def/volume') base_def:volume
            td
               span(property='http://staging.nrgi-sandbox.net/def/volume') 66,434,608
         tr
            td
            td
               a(href='http://staging.nrgi-sandbox.net/def/year') base_def:year
            td
               span(property='http://staging.nrgi-sandbox.net/def/year') 2009
         tr
            td
               a(href='http://staging.nrgi-sandbox.net/project/AO/bl0-kp7ie6') base_project_AO:bl0-kp7ie6
            td
               a(rev='http://staging.nrgi-sandbox.net/project/AO/bl0-kp7ie6', href='http://staging.nrgi-sandbox.net/def/productionStatistics') base_def:productionStatistics
            td
               a(href='http://resourceprojects.org/production/AO/127434e6d53d5b8e') local_production_AO:127434e6d53d5b8e
      thead
         tr
            th Subject
            th Predicate
            th Object
