body {
  padding-top: 100px;
  font-size: 14px !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer {
  margin-top: 40px;
  padding-top: 20px;
/* border-top 4px solid rgb(215, 219, 223); */
  border-top: 8px solid #d6d8cb;
  background: #eeefe8;
  color: #333;
  min-height: 200px;
}
.page-container {
  padding-top: 20px;
  min-width: 500px;
}
.page-well {
  margin: 10px 70px 10px 50px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px !important;
  border-bottom: 1px solid #eee;
}
.page-header .btn-group {
  margin-top: 20px;
}
.card {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5 !important;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.dropdown-menu {
  font-size: 14px !important;
}
h1,
h2,
h3,
th {
  color: #557288 !important;
}
a {
  color: #494641;
}
.left-padding-lg {
  padding-left: 50px;
}
.top-padding-lg {
  padding-top: 50px;
}
.right-padding-lg {
  padding-right: 50px;
}
.bottom-padding-lg {
  padding-bottom: 50px;
}
.left-padding-med {
  padding-left: 20px;
}
.top-padding-med {
  padding-top: 20px;
}
.right-padding-med {
  padding-right: 20px;
}
.bottom-padding-med {
  padding-bottom: 20px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
.blockquote {
  font-size: 17.5px !important;
}
.blockquote small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
.blockquote .small:before,
.blockquote footer:before,
.blockquote small:before {
  content: '\2014 \00A0';
}
.text-center {
  text-align: center;
}
.form-control,
.btn {
  font-size: 14px !important;
}
.btn-col {
  width: 100%;
}
.wrap-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}
.filter-form {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pagetitle {
  padding-top: 5vh;
}
.pagetitle {
  padding-top: 3vh;
}
.dropdown {
  text-align: center;
}
.dropdown form.inline {
  display: inline;
}
.type {
  width: 35%;
}
.navigate {
  font-size: 30px !important;
  padding: 0 5px !important;
  color: #000 !important;
}
.pager li>a,
.pager li>span {
  display: inline-block !important;
  padding: 4px 3px !important;
  background-color: transparent !important;
  border: none !important;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.3 !important;
}
.container-fluid {
  padding-right: 16% !important;
  padding-left: 16% !important;
}
.commodity_type,
.status {
  text-transform: capitalize !important;
}
#project-info {
  width: 90%;
}
li .glyphicon {
  color: #31708f;
}
li .glyphicon[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  color: #777 !important;
}
.navbar-header a.navbar-brand {
  padding-top: 30px;
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar-brand span {
  display: block;
  color: rgba(64,64,64,0.7);
}
.navbar-brand,
.navbar-brand:hover {
  font-size: 19px;
  font-family: Open-Sans-Bold;
  color: #f37356;
  text-transform: uppercase;
  padding: 16px 20px 12px 0;
  height: auto;
  width: 1000px;
  position: relative;
}
.navbar-brand .beta,
.sidebar-brand .beta {
  position: absolute;
  font-size: 12px;
  right: -4px;
  top: 13px;
  color: #404040;
  color: rgba(0,0,0,0.5);
  text-transform: none;
  font-family: Open-Sans-Regular;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .brand {
  display: block;
  float: left;
  padding: 8px 8px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999;
}
.navbar .brand img {
  width: 12vw;
}
.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
  background-image: none;
  background-repeat: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-item {
  position: relative;
  display: inline-block !important;
}
.navbar .nav-link {
  float: none;
  padding: 10px 0.35vw;
  line-height: 19px;
  color: #557288;
  text-decoration: none;
  text-shadow: none;
  font-size: 0.9vw;
}
.navbar .nav-link:hover {
  color: #ff6f4c;
  text-decoration: none;
  background-color: #fff !important;
}
.navbar-fixed-top {
/*border-top 25px solid #B0D6F2!important;*/
/*border-bottom 1px rgb(85,114,136) solid;*/
  border-bottom: 1px solid #eeefe8 !important;
  z-index: 99999;
}
.navbar-search .search-query {
  padding: 6px 5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  border-radius: 20px;
  border: 1px solid #151515;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.15);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(255,255,255,0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}
.navlogout {
  padding-left: 0.5vw;
  font-size: 1.2vw;
}
.typeahead>li>a {
  word-wrap: break-word;
  white-space: normal;
}
.mapsicon {
  height: 100px;
}
#toast-container {
  top: 70px;
}
#projectMap {
  height: 540px;
}
#leaflet {
  height: 480px;
}
#map {
  height: 540px;
  position: relative;
}
.angular-leaflet-map {
  height: 240px;
}
#projectMap>.angular-leaflet-map {
  height: 540px !important;
}
.info {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.info h4 {
  margin: 0 0 5px;
  color: #3d3938;
}
.legend-esri {
  color: #555;
  line-height: 18px;
  max-height: 250px;
  width: 215px;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow: auto;
}
.legend-esri .outline {
  border: 1px solid #ccc;
  border-radius: 6px 6px 6px 6px;
  float: left;
  height: 12px;
  margin: 3px 10px 3px 3px;
  padding: 2px;
  width: 12px;
}
.legend-esri .outline i {
  border-radius: 4px 4px 4px 4px;
  float: left;
  height: 6px;
  width: 6px;
}
.legend-esri .inline {
  clear: both;
  float: left;
  margin-right: 10px;
}
.legend-esri .info-title {
  clear: both;
  float: left;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 0;
  width: 100%;
}
.legend-esri .info-label {
  float: left;
  width: 170px;
  font-size: 0.8em;
}
div.advanced-links {
  margin: 20px 0;
  border-top: 1px solid #eeefe8;
  padding-top: 20px;
}
td.detail_label {
  width: 150px;
  font-weight: bold;
  padding: 2px 5px 0 2px;
  vertical-align: top;
}
td.project-label table {
  font-weight: normal;
}
td.project-label {
  width: 150px;
  font-weight: bold;
  padding: 2px 5px 0 2px;
  vertical-align: top;
}
.location-th {
  background-image: none !important;
}
.leaflet-popup-content {
  font-weight: bold;
}
.table-responsive {
  overflow-x: auto;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
  background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7");
  border-bottom: #000 2px solid;
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
  background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7");
  border-bottom: #000 2px solid;
}
.tablesorter-header-inner {
  margin-left: 10px;
}
.tablesorter-headerRow {
  background-color: #fff;
}
.tablesorter-default .tablesorter-header {
  background-image: url("data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==");
  background-position: center left;
  background-repeat: no-repeat;
  cursor: pointer;
}
.header-fixed {
  height: 300px !important;
  margin-bottom: 90px !important;
}
.header-fixed>tbody {
/*width 100%!important*/
  position: absolute !important;
  max-height: 300px !important;
  overflow-y: scroll !important;
}
.header-fixed>tbody>tr:not(.showIfLast),
.header-fixed>thead>tr {
  width: 100% !important;
  display: inline-table;
  table-layout: fixed !important;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 45px auto;
  z-index: 2 !important;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
.load_table .showIfLast td:after {
  content: "" !important;
}
.load_table .showLast td:after {
  content: "No data" !important;
}
@-moz-document url-prefix() {
  #transfers .header-fixed>tbody {
    width: 100% !important;
    position: absolute !important;
    height: auto;
    max-height: 300px !important;
    overflow-y: scroll !important;
    top: 25%;
  }
  .header-fixed>tbody {
    width: 100% !important;
    position: absolute !important;
    height: auto;
    max-height: 300px !important;
    overflow-y: scroll !important;
    top: 21%;
  }
}
@-moz-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-o-keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  outline: none;
  cursor: inherit;
  display: block;
  opacity: 0;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.ngdialog.dialogwidth800 .ngdialog-content {
  width: 800px !important;
}
.popover {
  max-width: 30% !important;
}
.popover-content {
  max-height: 300px;
  overflow-y: scroll;
}
.modal {
  overflow: visible;
}
.modal:focus {
  outline: 0;
}
.modal-content {
  width: 1600px;
}
.ngdialog.ui-draggable {
  overflow: visible;
}
.ui-draggable-handle {
  border: thin solid #000;
}
