body
  padding-top 61px

.navbar-header a.navbar-brand
  padding-top 30px
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  margin-top 40px
  padding-top 20px
  /* border-top 4px solid rgb(215, 219, 223); */
  border-top 8px solid #D6D8CB
  background #EEEFE8
  color #333
  min-height 200px; a
    color #494641
.mapsicon
  height 100px

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.page-container
  padding-top 20px
  min-width 500px

.page-well
  margin-top 10px
  margin-bottom 10px
  margin-left 50px
  margin-right 70px

.filter-form
  padding-top 20px
  padding-bottom 20px

.table-responsive
  overflow-x auto

.left-padding-lg
  padding-left 50px
.top-padding-lg
  padding-top 50px
.right-padding-lg
  padding-right 50px
.bottom-padding-lg
  padding-bottom 50px

.left-padding-med
  padding-left 20px
.top-padding-med
  padding-top 20px
.right-padding-med
  padding-right 20px
.bottom-padding-med
  padding-bottom 20px

.margin-left-med
  margin-left 10px
.margin-bottom-med
  margin-bottom 10px

#toast-container
  top 70px

.btn-file
  position relative
  overflow hidden

.btn-file input[type=file]
  position absolute
  top 0
  right 0
  min-width 100%
  min-height 100%
  font-size 100px
  text-align right
  outline none
  cursor inherit
  display block
  opacity 0

.btn-col
  width 100%

.fileUpload
  position relative
  overflow hidden
  margin 10px

input.upload
  position absolute
  top 0
  right 0
  margin 0
  padding 0
  font-size 20px
  cursor pointer
  opacity 0

.ngdialog.dialogwidth800 .ngdialog-content
  width 800px !important

//.ngdialog.dialog-background-blank::first-child
//  background rgba(0, 0, 0, 0) !important

.wrap-content
  overflow-wrap break-word
  word-wrap break-word
  -ms-word-break break-all
  word-break break-word

.popover
  max-width 30% !important
.popover-content
  max-height 300px
  overflow-y scroll

.modal
  overflow visible

.modal:focus
  outline 0

.modal-content
  width 1600px

.ngdialog.ui-draggable
  overflow visible

h1, h2, h3, th
  color rgb(85,114,136) !important

.navbar .nav
  position relative
  left 0
  display block
  float left
  margin 0 10px 0 0
.navbar .brand
  display block
  float left
  padding 8px 8px 12px
  margin-left -20px
  font-size 20px
  font-weight 200
  line-height 1
  color #999

.navbar-inner
  min-height 40px
  padding-right 20px
  padding-left 20px
  background-color #fff
  background-image none
  background-repeat none
  -webkit-border-radius 4px
  -moz-border-radius 4px
  border-radius 4px
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none
.nav>li
  position relative
  display inline-block !important

.navbar .nav>li>a
  float none
  padding 9px 5px 11px
  line-height 19px
  color rgb(85,114,136)
  text-decoration none
  text-shadow none
  font-size 1.2em

.navbar-fixed-top
  /*border-top 25px solid #B0D6F2!important;*/
  /*border-bottom 1px rgb(85,114,136) solid;*/
  border-bottom 1px solid #EEEFE8 !important
.navbar-search .search-query
  padding 4px 9px
  font-size 13px
  font-weight normal
  line-height 1
  border 1px solid #151515
  -webkit-box-shadow inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15)
  -moz-box-shadow inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15)
  box-shadow inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15)
  -webkit-transition none
  -moz-transition none
  -ms-transition none
  -o-transition none
  transition none
.navbar-search
  position relative
  float left
  margin-top 6px
  margin-bottom 0

.page-header
  margin 20px 0 20px!important
.navbar .nav>li>a:hover
  color:rgb(255,111,76)
  text-decoration none
  background-color #fff !important
.navbar .nav>li>a
  background-color #fff !important
.page-header .btn-group
  margin-top 20px
.dropdown
  text-align center
.dropdown form.inline
  display inline

.tablesorter-default .tablesorter-header
  background-image url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==')
  background-position center left
  background-repeat no-repeat
  cursor pointer

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc
  background-image url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7')
  border-bottom #000 2px solid

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc
  background-image url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7')
  border-bottom #000 2px solid

.tablesorter-header-inner
  margin-left 10px

.tablesorter-headerRow
  background-color white

#leaflet
  height 480px
#map
  height 540px
  position relative
.info
  padding 20px
  font-family 'Lato', sans-serif
  font-size 1em
  background rgba(255, 255, 255, 0.9)
  box-shadow 0 0 15px rgba(0, 0, 0, 0.4)

.info h4
  margin 0 0 5px
  color #3D3938

.legend-esri
  color #555555
  line-height 18px
  max-height 250px
  width 215px
  padding-bottom 10px
  padding-top 10px
  overflow auto

.legend-esri .outline
  border 1px solid #CCCCCC
  border-radius 6px 6px 6px 6px
  float left
  height 12px
  margin 3px 10px 3px 3px
  padding 2px
  width 12px

.legend-esri .outline i
  border-radius 4px 4px 4px 4px
  float left
  height 6px
  width 6px

.legend-esri .inline
  clear both
  float left
  margin-right 10px

.legend-esri .info-title
  clear both
  float left
  font-size 0.9em
  font-weight bold
  margin 5px 0
  width 100%

.legend-esri .info-label
  float left
  width 170px
  font-size 0.8em
div.advanced-links
  margin 20px 0
  border-top 1px solid #EEEFE8
  padding-top 20px
#projectMap
  height 540px
td.detail_label
  width 150px
  font-weight bold
  padding 2px 5px 0 2px
  vertical-align top
td.project-label table
  font-weight normal
body
  padding-top 100px
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

td.project-label
  width 150px
  font-weight bold
  padding 2px 5px 0 2px
  vertical-align top
.location-th
  background-image:none!important;
//.tablesort-sortable-th
//  background-image url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==')
//  background-position center left
//  background-repeat no-repeat
//  cursor pointer
//th.tablesort-sortable
//  -webkit-user-select none
//  -khtml-user-select none
//  -moz-user-select none
//  -o-user-select none
//  user-select none
//  cursor pointer
//table .tablesort-sortable:after
//  content ""
//  float left
//  margin-right 5px
//  margin-top 7px
//  visibility hidden
//  border-left 4px solid transparent
//  border-right 4px solid transparent
//  border-top none
//  border-bottom 4px solid #000
//table .tablesort-desc:after
//  border-top 4px solid #000
//  border-bottom none
//table .tablesort-asc,table .tablesort-desc
//  background-color rgba(141, 192, 219, 0.25)
//table .tablesort-asc:after, table .tablesort-desc:after
//  visibility visible
//.showIfLast
//  display none
//.showIfLast:last-child
//  display table-row
//.showIfLast td
//  text-align center
//.showIfLast td:after
//  content "No data available"
//table .tablesort-asc,table .tablesort-desc
//  background-color #ffffff !important
//  border-bottom 2px solid #000000 !important
.leaflet-popup-content
  font-weight:bold
.type
  width 35%
.navigate
  font-size 30px !important
  padding 0 5px !important
  color #000000 !important
.pager li>a, .pager li>span
  display inline-block !important
  padding 4px 3px !important
  background-color transparent !important
  border none !important
.btn.disabled, .btn[disabled], fieldset[disabled] .btn
  opacity .3!important
.container-fluid
  padding-right 16%!important
  padding-left 16%!important
.commodity_type,.status
  text-transform capitalize !important
#project-info
  width 90%
li .glyphicon
  color #31708f
li .glyphicon[disabled]
  pointer-events: none
  cursor not-allowed
  color #777 !important
.angular-leaflet-map
  height 240px
#projectMap>.angular-leaflet-map
  height 540px!important

//.header-fixed tr
//  width 100%;
//  display inline-table;
//  table-layout fixed
//
//.header-fixed table
//  height 300px
//
//.header-fixed tbody
//  overflow-y scroll
//  height 300px
//  width 100%
//  position absolute
