.container
    .page-header
        h1
            span(ng-bind-html="contract.contract_name|sanitize")
            =' '
            small Contract
    .row
        .col-md-12
            leaflet(center="country.countryMap",controls="controls",markers="country.projectMarkers",tiles="tiles",height='240px')
    //.row {{contract.projects}}
    .row
        .col-md-6
            .info-box
                h2 Contract Info
                table#project-info
                    tbody
                        tr
                            td.project-label.our-id Resource Contracts ID:
                            td {{contract.contract_id}}
                        tr
                            td.project-label.part-of Commodities:
                            td
                                a(href='commodity/{{contract.commodities._id}}')
                                    span(ng-bind-html="contract.group|sanitize")
                        tr
                            td.project-label.open-corporates Concessions:
                            td
                                a(href='concession/{{contract.concessions.toString()}}') {{contract.concessions.toString()}}
        .col-md-6
            nrgi-company-table(companies="contract.companies" stake="true")
    .row
        .col-md-12
            nrgi-project-table(projects="contract.projects")
    //.advanced-links
    //    .container
    //        h3
    //            a(href='http://staging.nrgi-sandbox.net/list-sources/http/resourceprojects.org/project/MX/adar-gok3sd') Sources
