extend ../includes/layout
block main-content
    .navbar.navbar-fixed-top
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    img(src='../assets/print-logo.jpg' width='185' height='65' alt='Natural Resource Governance Institute Logo')
                .nav-collapse
                    ul.nav.list-inline.left-padding-lg
                        li
                            a(href='/projects') Projects
                        li
                            a(href='/projects') Payments
                        li
                            a.dropdown-toggle(data-toggle="dropdown") Other Data
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/concessions') Concessions
                                li
                                    a(href='/companies') Companies
                                li
                                    a(href='/contracts') Contracts
                                li
                                    a(href='/countries') Countries
                                li
                                    a(href='/commodities') Commodities
                                li
                                    a(href='/sites') Sites
                                li
                                    a(href='/fields') Fields
                        li
                            a.dropdown-toggle(data-toggle="dropdown") About
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/about') About
                                li
                                    a(href='/sources') Sources
                                li
                                    a(href='/glossary') Glossary
                        li
                            a.dropdown-toggle(data-toggle="dropdown") Admin
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='/admin/etl/datasets') Manage Data Imports
                                li
                                    a(href='/admin/create-source') Create Source
                                li
                                    a(href='/admin/create-project') Create Project
                                li
                                    a(href='/admin/create-country') Create Country
                                li
                                    a(href='/admin/create-concession') Create Concession
                                li
                                    a(href='/admin/create-commodity') Create Commodity
                                li
                                    a(href='/admin/create-company') Create Company
                                li
                                    a(href='/admin/create-group') Create Group

                    form.navbar-search.pull-right(action='')
                        input.typeahead.search-query.span2(type='text' data-provide='typeahead' placeholder='Search')
    section.content
        div(ng-view)
    footer
        .container
            .strapline
                p.
                    The Natural Resource Governance Institute promotes the effective, transparent and accountable management of oil, gas and mineral resources for the public good.
                .row
                    .col-md-6
                        h4.block-title ResourceProjects.org
                        p.
                            This site is a prototype, based on under-contributed data. No warranty of the accuracy or completeness of data is provided, and users should always check against original sources before making decisions based upon the data presented here.
                        p.
                            Unless otherwise stated, all data on the the site is available as open data under Creative Commons License CC-BY-SA.
                        p Errors and omissions can be reported to:
                            a(href='mailto:apedersen@resourcegovernance.org') apedersen@resourcegovernance.org
                    .col-md-3
                        h4.block-title Technical Details
                        ul.list-unstyled
                            li
                                a(href='/contribute') Contribution Template
                            //TODO add link to docs on git pages
                            li
                                a(href='/model') Data Model
                            //li
                            //    a(href='/classes') Classes
                            //li
                            //    a(href='/namedGraphs') Named Graphs
                            //li
                            //    a(href='/sparql') SPARQL
                        //h4.block-title Admin
                        //ul.list-unstyled
                        //    li
                        //        a(href='/admin/etl/datasets') Manage Data Imports
                        //    li
                        //        a(href='/admin/create-source') Create Source
                        //    li
                        //        a(href='/admin/create-project') Create Project
                        //    li
                        //        a(href='/admin/create-country') Create Country
                        //    li
                        //        a(href='/admin/create-concession') Create Concession
                        //    li
                        //        a(href='/admin/create-commodity') Create Commodity
                        //    li
                        //        a(href='/admin/create-company') Create Company
                        //    li
                        //        a(href='/admin/create-group') Create Group
                    .col-lg-3
                        h4.block-title Links
                        ul.list-unstyled
                            li
                                a(href='http://www.resourcegovernance.org/') Natural Resource Governance Institute (Main Website)
                        ul.list-unstyled
                            li
                                a(href='http://www.resourcecontracts.org/') ResourceContracts.org