extend ../includes/layout
block main-content
    .navbar.navbar-fixed-top
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .col-md-4
                    a.brand(href='/')
                        img(src='../assets/rp-logo-2.png' width='185' alt='Natural Resource Governance Institute Logo')
                .col-md-8
                    .nav-collapse
                        ul.nav.list-inline.left-padding-lg
                            li
                                a(href='/projects') Projects
                            //li
                            //    a.dropdown-toggle(data-toggle="dropdown") Projects
                            //        b.caret
                            //    ul.dropdown-menu
                            //        li
                            //            a(href='/projects') Projects
                            //li
                            //    a(href='/projects') Payments
                            li
                                a(href='/projects/map') Map
                            li
                                a.dropdown-toggle(data-toggle="dropdown") Other Data
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/sites') Sites
                                    li
                                        a(href='/fields') Fields
                                    li
                                        a(href='/concessions') Concessions
                                    li
                                        a(href='/companies') Companies
                                    li
                                        a(href='/groups') Company Groups
                                    li
                                        a(href='/contracts') Contracts
                                    li
                                        a(href='/countries') Countries
                                    //li
                                    //    a(href='/commodities') Commodities
                            li
                                a.dropdown-toggle(data-toggle="dropdown") About
                                    b.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/about') About
                                    //li
                                    //    a(href='/sources') Sources
                                    li
                                        a(href='/glossary') Glossary
                            //li
                            //    a.dropdown-toggle(data-toggle="dropdown") Admin
                            //        b.caret
                            //    ul.dropdown-menu
                            //        li
                            //            a(href='/admin/etl/datasets') Manage Data Imports
                                    //li
                                    //    a(href='/admin/create-source') Create Source
                                    //li
                                    //    a(href='/admin/create-project') Create Project
                                    //li
                                    //    a(href='/admin/create-country') Create Country
                                    //li
                                    //    a(href='/admin/create-concession') Create Concession
                                    //li
                                    //    a(href='/admin/create-commodity') Create Commodity
                                    //li
                                    //    a(href='/admin/create-company') Create Company
                                    //li
                                    //    a(href='/admin/create-group') Create Group

                        //form.navbar-search.pull-right(action='')
                        //    input.typeahead.search-query.span2(type='text' data-provide='typeahead' placeholder='Search')
    section.content
        div(ng-view)
    footer
        .container
            .strapline
                .row.top-padding-med
                    .col-md-8
                        h4.block-title ResourceProjects.org
                        p.
                            This site is a prototype, site links and contents are subject to change. No warranty of the accuracy or completeness of data is provided, and users should always check against original sources before making decisions based upon the data presented here.
                        p
                            | Unless otherwise stated, all data on the the site is available as open data under
                            a(href="http://creativecommons.org/licenses/by-sa/4.0/")  Creative Commons License CC-BY-SA
                            | .
                        p Errors and omissions can be reported to:
                            a(href='mailto:dmihalyi@resourcegovernance.org')  dmihalyi@resourcegovernance.org
                    .col-md-1
                    .col-md-3
                        .row.top-padding-med
                            a.brand(href='http://resourcegovernance.org')
                                img(src='../assets/nrgi-logo.png' width='185' alt='Natural Resource Governance Institute Logo')
                        //.row
                        //    a.navbar-brand(href="http://resourcecontracts.org")
                        //        | Resource
                        //        span.beta Beta
                        //        span Contracts
                        //    //a(href='http://www.resourcecontracts.org/') ResourceContracts.org
                .row.top-padding-med.bottom-padding-lg
                    .text-center
                        p &copy; 2016 Natural Resource Governance Institute
