.container.top-padding-med
   .card
      form(name='update_commodity_form')
         fieldset
            .col-xs-12
               legend Commodity Information
            .form-group.row
               .col-xs-12
                  label.col-md-2.form-control-label(form="name") Commodity name
                  .col-md-10
                     input.form-control(
                     name="name"
                     type="text"
                     placeholder="Commodity name"
                     ng-model="commodity.commodity_name"
                     required)
            .form-group.row
               .col-xs-12
                  .col-md-10.col-md-offset-2
                     .pull-xs-right
                        button.btn.btn-primary(ng-click="commodityUpdate()", ng-disabled="") Submit
                        | &nbsp;
                        button.btn.btn-danger(ng-click="commodityDelete()", ng-disabled="") Delete
                        | &nbsp;
                        a.btn.btn-secondary(href="/admin/commodity-admin") Cancel