.container
    .page-header
        h1
            span(ng-bind-html="source.source_name|sanitize")
            =' '
            small Source
    .row
        .col-md-6
            .info-box
                table#project-info
                    tbody
                        tr
                            td.project-label.our-id Type:
                            td {{source.source_type}}
                        tr
                            td.project-label.website Source date:
                            td {{source.source_date| date:'yyyy-MM-dd'}}
                        tr
                            td.project-label.website Retrieved date:
                            td {{source.retrieve_date| date:'yyyy-MM-dd'}}
                        tr
                            td.project-label.part-of Access source:
                            td
                                a(
                                ng-href='source.source_url}}'
                                target='_blank') Link
                                =' '
                                | (Direct link to data in HTML report)
                        tr
                            td.project-label.part-of Access archive:
                            td
                                a(
                                href='{{source.source_archive_url}}'
                                target='_blank') Link
                                =' '
                                | (Google sheet)
                        tr
                            td.project-label.open-corporates Created:
                            td {{source.create_author.first_name}} {{source.create_author.last_name}} on {{source.create_date| date:'yyyy-MM-dd'}}

        .col-md-6
            .info-box
                table#source-description

                    tbody
                        tr
                            td.project-label.small Desctiption:
                            td.source_notes
                                span(ng-bind-html="source.source_notes|sanitize")
