.container
    .page-header
        h1
            span(ng-bind-html="group.company_group_name|sanitize")
            =' '
            small Group of Companies
    .row
        .col-md-12
            leaflet(center="center",controls="controls",markers="group.location",tiles="tiles", height='240px')

    .row
        .col-md-6
            .info-box
                h2 Company Group Info
                table#group-info
                    tbody
                        tr
                            td.detail_label.small ID:
                            td {{group._id}}
                        tr
                            td.detail_label.small Aliases:
                            td.company_group_aliases
                                span(ng-repeat="alias in group.company_group_aliases | unique: 'alias'")
                                    span {{alias.alias}}
                                    | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Commodities:
                            td.commodities
                                text(ng-repeat="commodity in group.commodities | unique: '_id'")
                                    a(href='commoddity/{{commodity._id}}')
                                        span(ng-bind-html="commodity.commodity_name | sanitize")
                                    | {{$last ? '' : ', '}}
                        tr
                            td.detail_label.small Open Corporate ID:
                            td {{group.open_corporates_group_id}}
                        tr
                            td.detail_label.small Companies:
                            td.companies
                                text(ng-repeat="company in group.companies | unique: '_id'")
                                    a(href='company/{{company._id}}')
                                        span(ng-bind-html="company.company_name | sanitize")
                                    | {{$last ? '' : ', '}}
        .col-md-6
            .info-box
                h2
                    | &nbsp;
                table#group-description
                    tbody
                        tr
                            td.project-label.our-id Desctiption:
                            td
                                span(ng-bind-html="group.description|sanitize")

    .row
        .col-md-6
            h2 Projects
            table.table.table-striped.projects(ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='name') Name
                        th.tablesort-sortable-th(ts-criteria='country') Country
                        th.tablesort-sortable-th(ts-criteria='type') Commodity Type
                tbody
                    tr(ng-repeat='project in group.projects',ts-repeat)
                        td
                            a(href='project/{{project.project._id}}')
                                span(ng-bind-html="project.project.proj_name|sanitize")
                        td: text(ng-repeat='country in project.project.proj_country')
                            a(href='country/{{country.country._id}}')
                                span(ng-bind-html="country.country.name|sanitize")
                        td: text(ng-repeat='type in project.project.proj_type')
                            |{{type.string | ucfirst}}
            .download
                span.glyphicon.glyphicon-download(aria-hidden='true')
                span
                    |  Download:
                    =' '
                    a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Fproject+%3Fname+%3Fcountry_name+%3FcommodityType+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany+.%0A++++%3Fcompany+rp%3AholdsStake+%3Fstakes+.%0A++++%3Fstakes+rp%3AisStakeIn+%3Fproject+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos_%3AprefLabel+%3Fname+.%0A++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++%3Fcountry+a+rp%3ACountry+.%0A++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasCommodity+%3Fcommodity+.%0A+++++++++++++++%3Fcommodity+rp%3AcommodityType+%3FcommodityType+%0A++++%7D%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Projects CSV
        .col-md-6
            h2 Companies
            table.table.table-striped.companies(ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='company_name') Name
                tbody
                    tr(ng-repeat="company in group.companies | unique: 'group.companies._id'",ts-repeat)
                        td
                            a(href='company/{{company._id}}')
                                span(ng-bind-html="company.company_name | sanitize")

            .download
                span.glyphicon.glyphicon-download(aria-hidden='true')
                span
                    |  Download:
                    =' '
                    a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fname+%3Fcompany+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany%0A++++OPTIONAL+%7B+%3Fcompany+skos%3AprefLabel+%3Fname+%7D%0A%7D+LIMIT+1000%0A&format=text%2Fcsv&timeout=0&debug=on') Companies CSV
    .row
        .col-md-6
            h2 Contracts
            table.table.table-striped.projects(ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='name') Name
                        th.tablesort-sortable-th(ts-criteria='name') Country
                        th.tablesort-sortable-th(ts-criteria='name') Commodity
                        th.tablesort-sortable-th(ts-criteria='name') RC-ID
                tbody
                    tr(ng-repeat='contract in group.contracts',ts-repeat)
                        td
                            a(href='contract/{{contract._id}}')
                                span(ng-bind-html="contract.name|sanitize")
                        td
                            a(href='country/{{contract.country._id}}')
                                span(ng-bind-html="contract.country.name|sanitize")
                        td
                            a(href='commodity/{{contract.commodity._id}}')
                                span(ng-bind-html="contract.commodity.name|sanitize")
                        td {{contract.rc}}
            .download
                span.glyphicon.glyphicon-download(aria-hidden='true')
                span
                    |  Download:
                    =' '
                    a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Fproject+%3Fname+%3Fcountry_name+%3FcommodityType+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany+.%0A++++%3Fcompany+rp%3AholdsStake+%3Fstakes+.%0A++++%3Fstakes+rp%3AisStakeIn+%3Fproject+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos_%3AprefLabel+%3Fname+.%0A++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++%3Fcountry+a+rp%3ACountry+.%0A++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasCommodity+%3Fcommodity+.%0A+++++++++++++++%3Fcommodity+rp%3AcommodityType+%3FcommodityType+%0A++++%7D%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Contracts CSV
        .col-md-6
            h2 Concessions
            table.table.table-striped.projects(ts-wrapper)
                thead
                    tr
                        th.tablesort-sortable-th(ts-criteria='name') Name
                        th.tablesort-sortable-th(ts-criteria='name') Country
                        th.tablesort-sortable-th(ts-criteria='name') Commodity Type
                        th.tablesort-sortable-th(ts-criteria='name') Commodity
                tbody
                    tr(ng-repeat='concession in group.concessions',ts-repeat)
                        td
                            a(href='concession/{{concession._id}}')
                                span(ng-bind-html="concession.name|sanitize")
                        td
                            a(href='country/{{concession.country._id}}')
                                span(ng-bind-html="concession.country.name|sanitize")
                        td {{concession.commodity_type}}
                        td
                            a(href='commodity/{{concession.commodity._id}}')
                                span(ng-bind-html="concession.commodity.name|sanitize")
            .download
                span.glyphicon.glyphicon-download(aria-hidden='true')
                span
                    |  Download:
                    =' '
                    a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Fproject+%3Fname+%3Fcountry_name+%3FcommodityType+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany+.%0A++++%3Fcompany+rp%3AholdsStake+%3Fstakes+.%0A++++%3Fstakes+rp%3AisStakeIn+%3Fproject+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos_%3AprefLabel+%3Fname+.%0A++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++%3Fcountry+a+rp%3ACountry+.%0A++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasCommodity+%3Fcommodity+.%0A+++++++++++++++%3Fcommodity+rp%3AcommodityType+%3FcommodityType+%0A++++%7D%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Concessions CSV

    h2 Payments
    table.table.table-striped.payments(ts-wrapper,ng-if='group.payments.length!=0')
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='year|parseInt') Year
                th.tablesort-sortable-th(ts-criteria='paidBy') Paid by
                th.tablesort-sortable-th(ts-criteria='paidTo') Paid to
                th.tablesort-sortable-th(ts-criteria='type') Payment Type
                th.tablesort-sortable-th(ts-criteria='currency') Currency
                th.tablesort-sortable-th(ts-criteria='value|parseInt') Value
                th.tablesort-sortable-th(ts-criteria='receipt') Payment or receipt?
        tbody
            tr(ng-repeat='payment in group.payments',ts-repeat)
                td {{payment.year}}
                td
                    a(href='company/{{payment.paidById}}')
                        span(ng-bind-html="payment.paidBy|sanitize")
                td
                    a(href='country/{{payment.paidToId}}')
                        span(ng-bind-html="payment.paidTo|sanitize")
                td {{payment.type}}
                td {{payment.currency}}
                td {{payment.value}}
                td {{payment.receipt}}
    .download
        span.glyphicon.glyphicon-download(aria-hidden='true')
        span
            |  Download:
            =' '
            a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+DISTINCT+%3FcompanyPayment+%3Fcompany+%3Fcompany_name+%3FpaymentOrReceipt+%3Fpayee+%3Fpayee_name+%3Fcurrency+%28replace%28%3Famount%2C%22%2C%22%2C%22%22%29+as+%3Famount%29+%3Fdate+%3Fyear+%3Ftype+WHERE+%7B%0A++++%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany+.%0A++++%3FcompanyPayment+rp%3Apayer+%3Fcompany+.%0A++++%3FcompanyPayment+a+%3FpaymentOrReceipt%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Apayee+%3Fpayee+.%0A++++++++++++++%3Fpayee+skos_%3AprefLabel+%3Fpayee_name%0A++++++++++++++%7D%0A++++OPTIONAL+%7B+%3Fcompany+skos_%3AprefLabel+%3Fcompany_name%0A++++++++++++++%7D%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Acurrency+%3Fcurrency+%7D%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Avalue+%3Famount+%7D+%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Adate+%3Fdate+%7D+%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Ayear+%3Fyear+%7D%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3ApaymentType+%3FpaymentType.%0A+++++++++++++++%3FpaymentType+skos_%3AprefLabel+%3Ftype.%0A++++%7D%0A%7D%0A&format=text%2Fcsv&timeout=0&debug=on') Payments CSV
    .advanced-links
        .container
            h3
                a(href='group/AnglogoldAshanti') Sources