.container
   .page-header
      .row
         .col-md-3
            h1 Companies
               small
         .col-md-3
            .btn-group(role='group', aria-label='...')
               button.btn.btn-default(type='button')
                  a(href='/groups') Switch to Company Groups view
   .dropdown
      | Showing {{page}} to {{show_count}} of {{count}} companies. Number of records per page:
      =' '
      form.inline
         select(name='limit', ng-model='limit',ng-change="select(limit)")
            option(selected='') 50
            option 200
            option 1000
   .row
      .col-md-12
         .pager
            ul.inline
               li.previous(ng-if="page!=0")
                  a(href='',ng-click='prev(page)') previous
               li.next(ng-if="show_count<count")
                  a(href='',ng-click='next(page,show_count)') next
         table.table.table-striped(about='http://resourceprojects.org/company',ts-wrapper,ng-show="show_count!=0")
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='company_name') Company
                  th.tablesort-sortable-th(ts-criteria='company_groups.name') Group
                  th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
            tbody
               tr(ng-repeat='company in companies',ts-repeat)
                  td
                     a(href='company/{{company._id}}')
                        span(ng-bind-html="company.company_name|sanitize")
                  td
                     a(href='group/{{company.company_groups._id}}')
                        span(ng-bind-html="company.company_groups.name|sanitize")
                  td {{company.projects}}
         .pager
            ul.inline
               li.previous(ng-if="page!=0")
                  a(href='',ng-click='prev(page)') previous
               li.next(ng-if="show_count<count")
                  a(href='',ng-click='next(page,show_count)') next

