.container(ng-controller="nrgiCompaniesCtrl")
   .page-header
      .row
         .col-md-3
            h1 Companies
               small
         .col-md-3
            .btn-group(role='group', aria-label='...')
               button.btn.btn-default(type='button')
                  a(href='/groups') View Company Groups
   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")

   .row
      .col-md-12
         table.table.table-striped(about='http://resourceprojects.org/company',ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='company_name') Company
                  th.tablesort-sortable-th(ts-criteria='company_groups.name') Group
                  th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
            tbody
               tr(ng-repeat='company in companies',ts-repeat)
                  td
                     a(href='company/{{company._id}}')
                        span(ng-bind-html="company.company_name|sanitize")
                  td
                     a(href='group/{{company.company_groups._id}}')
                        span(ng-bind-html="company.company_groups.name|sanitize")
                  td {{company.projects}}

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")
