.container
   .page-header
      .row
         .col-md-4
            h1 Company Groups
               small
         .col-md-3
            .btn-group(role='group', aria-label='...')
               button.btn.btn-default(type='button')
                  a(href='/companies') View Companies

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")

   table.table.table-striped(ts-wrapper)
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='name') Company Group
            th.tablesort-sortable-th(ts-criteria='companies|parseInt') No. Companies
            th.tablesort-sortable-th(ts-criteria='projects|parseInt') No. Projects
      tbody
         tr(ng-repeat='group in groups',ts-repeat)
            td
               a(href='group/{{group._id}}') {{group.name}}
            td
               span(ng-if="group.companies!=0") {{group.companies}}
            td
               span(ng-if="group.projects!=0") {{group.projects}}

   navigate(page="page",show="show_count",count="count",limit="limit",last="last",next="next",prev="prev",first="first",select="select")
