.container
   .page-header
      h1
         span(ng-bind-html="group.name|sanitize")
         =' '
         small Group of Companies
   .row
      .col-md-12
         leaflet(center="group.countryMap",controls="controls",markers="group.projectMarkers",tiles="tiles", height='240px')

   .row
      .col-md-6
         .info-box
            h2 Company Group Info
            table#group-info
               tbody
                  tr
                     td.project-label(style='width:200px') Our Company Group ID:
                     td {{group.id}}
      .col-md-6
         h2 Companies
         table.table.table-striped.companies(ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='name') Name
            tbody
               tr(ng-repeat='company in group.companies',ts-repeat)
                  td
                     a(href='company/{{company.id}}')
                        span(ng-bind-html="company.name|sanitize")
         .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            span
               |  Download:
               =' '
               a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fname+%3Fcompany+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany%0A++++OPTIONAL+%7B+%3Fcompany+skos%3AprefLabel+%3Fname+%7D%0A%7D+LIMIT+1000%0A&format=text%2Fcsv&timeout=0&debug=on') Companies CSV
   h2 Projects
   table.table.table-striped.projects(ts-wrapper,ng-if='group.projects.length!=0')
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='name') Name
            th.tablesort-sortable-th(ts-criteria='country') Country
            th.tablesort-sortable-th(ts-criteria='type') Commodity Type
      tbody
         tr(ng-repeat='project in group.projects',ts-repeat)
            td
               a(href='country/{{project.id}}')
                  span(ng-bind-html="project.name|sanitize")
            td
               a(href='project/{{project.countryId}}')
                  span(ng-bind-html="project.country|sanitize")
            td {{project.type}}

   .download
      span.glyphicon.glyphicon-download(aria-hidden='true')
      span
         |  Download:
         =' '
         a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Fproject+%3Fname+%3Fcountry_name+%3FcommodityType+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany+.%0A++++%3Fcompany+rp%3AholdsStake+%3Fstakes+.%0A++++%3Fstakes+rp%3AisStakeIn+%3Fproject+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos_%3AprefLabel+%3Fname+.%0A++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++%3Fcountry+a+rp%3ACountry+.%0A++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasCommodity+%3Fcommodity+.%0A+++++++++++++++%3Fcommodity+rp%3AcommodityType+%3FcommodityType+%0A++++%7D%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Projects CSV
   p(ng-if='group.projects.length==0') No data available
   h2 Payments
   table.table.table-striped.payments(ts-wrapper,ng-if='group.payments.length!=0')
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='year|parseInt') Year
            th.tablesort-sortable-th(ts-criteria='paidBy') Paid by
            th.tablesort-sortable-th(ts-criteria='paidTo') Paid to
            th.tablesort-sortable-th(ts-criteria='type') Payment Type
            th.tablesort-sortable-th(ts-criteria='currency') Currency
            th.tablesort-sortable-th(ts-criteria='value|parseInt') Value
            th.tablesort-sortable-th(ts-criteria='receipt') Payment or receipt?
            th.tablesort-sortable-th(ts-criteria='id|parseInt') ID
      tbody
        tr(ng-repeat='payment in group.payments',ts-repeat)
            td {{payment.year}}
            td
               a(href='company/{{payment.paidById}}')
                  span(ng-bind-html="payment.paidBy|sanitize")
            td
               a(href='country/{{payment.paidToId}}')
                  span(ng-bind-html="payment.paidTo|sanitize")
            td {{payment.type}}
            td {{payment.currency}}
            td {{payment.value}}
            td {{payment.receipt}}
            td
               a(href='governmentreceipt/{{payment.id}}')
                  span.glyphicon.glyphicon-info-sign(data-toggle='tooltip', data-placement='left', title='127434e6d53d5b8e', aria-hidden='true')
   p(ng-if='group.payments.length==0') No data available
   .download
      span.glyphicon.glyphicon-download(aria-hidden='true')
      span
         |  Download:
         =' '
         a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+DISTINCT+%3FcompanyPayment+%3Fcompany+%3Fcompany_name+%3FpaymentOrReceipt+%3Fpayee+%3Fpayee_name+%3Fcurrency+%28replace%28%3Famount%2C%22%2C%22%2C%22%22%29+as+%3Famount%29+%3Fdate+%3Fyear+%3Ftype+WHERE+%7B%0A++++%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fgroup%2FAnglogoldAshanti%3E+rp%3AgroupMember+%3Fmembers+.%0A++++%3Fmembers+rp%3Aorganisation+%3Fcompany+.%0A++++%3FcompanyPayment+rp%3Apayer+%3Fcompany+.%0A++++%3FcompanyPayment+a+%3FpaymentOrReceipt%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Apayee+%3Fpayee+.%0A++++++++++++++%3Fpayee+skos_%3AprefLabel+%3Fpayee_name%0A++++++++++++++%7D%0A++++OPTIONAL+%7B+%3Fcompany+skos_%3AprefLabel+%3Fcompany_name%0A++++++++++++++%7D%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Acurrency+%3Fcurrency+%7D%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Avalue+%3Famount+%7D+%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Adate+%3Fdate+%7D+%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3Ayear+%3Fyear+%7D%0A++++OPTIONAL+%7B+%3FcompanyPayment+rp%3ApaymentType+%3FpaymentType.%0A+++++++++++++++%3FpaymentType+skos_%3AprefLabel+%3Ftype.%0A++++%7D%0A%7D%0A&format=text%2Fcsv&timeout=0&debug=on') Payments CSV
   .advanced-links
      .container
         h3
            | Links
            =' '
            small Advanced
         ul
            li
               a(href='group/AnglogoldAshanti') Triples View
            li
               a(href='group/AnglogoldAshanti') Sources
