a(data-toggle="collapse" ng-click='getData(id,type)' data-target="#sources")
    h2 Sources
#sources.panel-collapse.collapse
    table.table.table-striped.projects(ts-wrapper ng-class="sources.length >= 8 ? 'header-fixed' : ''")#project-sources
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='source_name') Name
                th.tablesort-sortable-th(ts-criteria='source_type_id.source_type_name') Type
                th.tablesort-sortable-th(ts-criteria='source_type_id.source_type_authority') Authority
        tbody
            tr(ng-repeat="source in sources"
            ts-repeat)
                td.source_id: a(href='source/{{source._id}}')
                    span(ng-bind-html="source.source_name|sanitize")
                td.source_type: a(href='source_type/{{source.source_type_id._id}}')
                    span(ng-bind-html="source.source_type_id.source_type_name|sanitize")
                td.source_authority {{source.source_type_id.source_type_authority}}
    div(ng-if="sources.length>0")
        .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            span
                |  Download:
                =' '
                a(href="" ng-csv="csv_sources" csv-header="getHeaderSources()" filename="sources.csv") Sources CSV