h2 Production Stats
table.table.table-striped.projects(ts-wrapper)#transfer-info
    thead
        tr
            th.tablesort-sortable-th(ts-criteria='production_year|parseInt') Year
            th.tablesort-sortable-th(ts-criteria='production_volume') Volume
            th.tablesort-sortable-th(ts-criteria='production_unit') Unit
            th.tablesort-sortable-th(ts-criteria='production_commodity.commodity_name') Commodity
            th.tablesort-sortable-th(ts-criteria='production_price|parseInt') Price
            th.tablesort-sortable-th(ts-criteria='production_price_unit') Price unit
    tbody
        tr(
        ng-repeat="prod in production"
        ts-repeat)
            //td {{prod.production.production_commodity}}
            td.production_year {{prod.production_year}}
            td.production_volume  {{prod.production_volume}}
            td.production_unit {{prod.production_unit}}
            td.production_commodity
                nrgi-commodity-rout(id='prod.production_commodity._id' commodity='prod.production_commodity.commodity_id' name='prod.production_commodity.commodity_name' )
            td.production_price {{prod.production_price}}
            td.production_price_per_unit {{prod.production_price_unit}}
.download
    span.glyphicon.glyphicon-download(aria-hidden='true')
    span
        |  Download:
        =' '
        a(href="") Production Stats CSV
        //a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Ftransaction+%3FpaymentOrReceipt+%3Fpayee_name+%3Fcurrency+%28replace%28%3Famount%2C%22%2C%22%2C%22%22%29+as+%3Famount%29+%3Fdate+%3Fyear+%3Ftype+WHERE+%7B%0A++++%3Ftransaction+rp%3Apayer+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcompany%2F2f2508fdb642e947%3E.%0A++++%3Ftransaction+rp%3Avalue+%3Famount.%0A++++%3Ftransaction+a+%3FpaymentOrReceipt.%0A%0A+++++++OPTIONAL+%7B%0A++++++++%3Ftransaction++rp%3Apayee+%3FcountryParty+.%0A++++++++%3FcountryParty+a+rp%3ACountry+.%0A++++++++%3FcountryParty+skos_%3AprefLabel+%3FcountryParty_name.%0A+++++++%7D%0A+++++++OPTIONAL+%7B%0A++++++++%3Ftransaction++rp%3Apayee+%3FgovParty+.%0A++++++++%3FgovParty+a+rp%3AGovernmentParty.%0A++++++++%3FgovParty+skos_%3AprefLabel+%3FgovParty_name.%0A+++++++%7D%0A%0A+++++++%23%23+This+should+be+renamed+payee%2C+but+for+now+we+stick+with+country+to+avoid+reworking+the+html+templates%0A+++++++BIND%28IF%28bound%28%3FgovParty%29%2C%3FgovParty%2C%3FcountryParty%29+as+%3Fpayee%29%0A+++++++BIND%28IF%28bound%28%3FgovParty%29%2Cconcat%28%3FgovParty_name%2C%22+%28%22%2C%3FcountryParty_name%2C%22%29%22%29%2C%3FcountryParty_name%29+as+%3Fpayee_name%29++++%0A%0A%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3Acurrency+%3Fcurrency+%7D%0A%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3Adate+%3Fdate+%7D+%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3Ayear+%3Fyear+%7D%0A++++OPTIONAL+%7B+%3Ftransaction+rp%3ApaymentType+%3FpaymentType.%0A+++++++++++++++%3FpaymentType+skos%3AprefLabel+%3Ftype%0A++++%7D%0A++++%23The+filter+is+needed+because+this+project+name+is+used+twice%3A+%0A++++%23https%3A%2F%2Fgithub.com%2FNRGI%2Fresourceprojects.org-frontend%2Fissues%2F197%0A++++FILTER+%28str%28%3Ftype%29+%21%3D+%22Taxes+levied+on+the+income%2C+production+or+profits+of+companies%2C%22%29%0A%7D%0AGROUP+BY+%3Ftransaction%0AORDER+BY+%3Fdate+%3Fyear%0A&format=text%2Fcsv&timeout=0&debug=on') Payments CSV