h2 Companies
table.table.table-striped.companies(ts-wrapper)#company-info
    thead
        tr
            th.tablesort-sortable-th(ts-criteria='company_name') Name
            th.tablesort-sortable-th(ng-if="group==true" ts-criteria='company_groups[company_groups.length-1].company_group_name') Group
            th.tablesort-sortable-th(ng-if="stake==true") Stake
    tbody
        tr(
        ng-repeat="company in companies",ts-repeat)
            td.company_name: a(href="company/{{company._id}}")
                    span(ng-bind-html="company.company_name|sanitize")
            td.company_groups(ng-if="group==true"): text(ng-repeat="group in company.company_groups | unique: '_id'")
                a(href="group/{{ group._id }}")
                    span(ng-bind-html="group.company_group_name|sanitize")
                | {{$last ? '' : ', '}}
            td.company_stake(ng-if="stake==true") UNFINISHED FIELD
.download
    span.glyphicon.glyphicon-download(aria-hidden="true")
    span  Download:
        =' '
        a(href="" ng-csv="csv_company" csv-header="getHeaderCompany()" filename="companies.csv") Companies CSV