h2 Contracts
table.table.table-striped.projects(ts-wrapper)#contract-info
    thead
        tr
            th.tablesort-sortable-th(ts-criteria='name') Name
            th.tablesort-sortable-th(ng-if="country==true",ts-criteria='country') Country
            th.tablesort-sortable-th(ng-if="commodity==true",ts-criteria='commodity_name') Commodity
            th.tablesort-sortable-th(ts-criteria='rc_id') RC-ID
            th.tablesort-sortable-th(ng-if="companies==true",ts-criteria='companies') No. Companies
    tbody
        tr(
        ng-repeat="contract in contracts | unique: '_id'"
        ts-repeat)
            td.contract_name
            td.contract_country(ng-if="country==true")
            td.contract_commodity_name(ng-if="commodity==true")
            td.contract_rc_id
            td.contract_companies(ng-if="companies==true")
.download
    span.glyphicon.glyphicon-download(aria-hidden='true')
    span
        |  Download:
        =' '
        a(href="") Contracts CSV
        //a(href='/sparql?default-graph-uri=&query=prefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%3Fcountry+%3Fcountry_name+%3FcommodityType+WHERE+%7B%0A++++%3Chttp%3A%2F%2Fresourceprojects.org%2Fcompany%2F2f2508fdb642e947%3E+rp%3AholdsStake+%3Fstakes+.%0A++++%3Fstakes+rp%3AisStakeIn+%3Fproject+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos_%3AprefLabel+%3Fname+.%0A++++%0A++++OPTIONAL+%7B%0A%0A++++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++++%3Fcountry+a+rp%3ACountry+.%0A++++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A++++++OPTIONAL+%7B+%3Fproject+rp%3AhasCommodity+%3Fcommodity+.%0A++++++++++++++++%3Fcommodity+rp%3AcommodityType+%3FcommodityType+%0A++++++%7D%0A++++++%0A++++%7D%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Projects CSV
