h2 Projects
table.table.table-striped.projects(ts-wrapper)#project-info
    thead
        tr
            th.tablesort-sortable-th(ts-criteria='proj_name') Name
            th.tablesort-sortable-th(ng-if="country==true" ts-criteria='proj_country[proj_country.length - 1].country.name') Country
            th.tablesort-sortable-th(ng-if="type==true" ts-criteria='proj_type[proj_type.length - 1].string') Commodity Type
            th.tablesort-sortable-th(ng-if="commodity==true" ts-criteria='proj_commodity[proj_commodity.length - 1].commodity.commodity_name') Commodity
            th.tablesort-sortable-th(ng-if="status==true" ts-criteria='proj_status[proj_status.length - 1].string') Status
            th.tablesort-sortable-th(ng-if="companies==true" ts-criteria='companies|parseInt') Companies
    tbody
        tr(
        ng-repeat='project in projects'
        ts-repeat)
            td.proj_id: a(href='project/{{project._id}}')
                span(ng-bind-html="project.proj_name|sanitize")
            td.proj_country(ng-if="country==true"): text(ng-repeat="country in project.proj_country | unique: 'country._id'")
                a(href='country/{{country.country.iso2}}')
                    span(ng-bind-html="country.country.name|sanitize")
                | {{$last ? '' : ', '}}
            td.proj_type(ng-if="type==true"): text(ng-repeat="type in project.proj_type")
                | {{type.string | ucfirst}}
                | {{$last ? '' : ', '}}
            td.proj_commodity(ng-if="commodity==true"): text(ng-repeat="commodity in project.proj_commodity | unique: 'commodity._id'")
                a(href='commodity/{{commodity.commodity._id}}')
                    span(ng-bind-html="commodity.commodity.commodity_name|sanitize")
                | {{$last ? '' : ', '}}
            td.proj_status: text(ng-repeat="status in project.proj_status")
                text(ng-if="$last")
                    | {{status.string | ucfirst}}
                    text.small  (true at {{status.timestamp | date:'MM/dd/yyyy @ h:mma' : timezone}})
            td(ng-if="companies==true") {{project.companies}}
.download
    span.glyphicon.glyphicon-download(aria-hidden='true')
    span
        |  Download:
        =' '
        a(href="") Projects CSV