h2 Sources
//.row(ng-repeat="(key, value) in sources")
//    | {{value}}
table.table.table-striped.projects(ts-wrapper)#project-sources
    thead
        tr
            th Name
            th Type
    tbody
        tr(ng-repeat="(key, value) in sources")
            td.source_id: a(href='project/{{key}}')
                span(ng-bind-html="value.source_name|sanitize")
            td.source_type
                span(ng-bind-html="value.source_type|sanitize")