div
    h2 Lists total # of varified, context and disclosure projects.
    p Varified: {{summaryStats.verified}}
    p Context: {{summaryStats.context}}
    p Payment: {{summaryStats.payment}}
    p None: {{summaryStats.none}}