.container.top-padding-med
	.well
		legend Dataset Management
		.pull-right
			form.form-inline
				.form-group
					input.form-control(
					ng-model="search_text"
					placeholder="Filter")
				.form-group.margin-left-med
					select.form-control(
					ng-model="sort_order"
					ng-options="item.value as item.text for item in sort_options")
		table.table
			thead
				tr
					th Name
					th(style={"width": "30%", "word-wrap": "break-word"}) Source
					th Action History
					th Available Actions
			tbody
				tr(ng-repeat="dataset in datasets | filter:search_text | orderBy:sort_order")
					td
						text {{dataset.name}}
					td(style={"width": "30%", "word-wrap": "break-word"})
						a(href="{{dataset.source_url}}") {{dataset.source_url}}
					td 
						p(ng-repeat="action in dataset.actions")
							text {{action.name}}
							// TODO: Handle "running/started" case
							span(ng-if="action.status == 'Success'" class=["label", "label-success"] data-toggle="tooltip" title="{{action.details}}") Success
							span(ng-if="action.status == 'Started'" class=["label", "label-warning"]) Running
							span(ng-if="action.status == 'Failed'" class=["label", "label-danger"] data-toggle="tooltip" title="{{action.details}}") Failed
					td
						a.btn.center-block.btn-default(ng-click="startAction('import', dataset._id)") Import
						span(ng-if="dataset.status.isReadyForChecked")
							a.btn.center-block.btn-default(ng-click="startAction('cleaned', dataset._id)") Mark as cleaned
						span(ng-if="!dataset.status.isReadyForChecked")
							a.btn.center-block.btn-default.disabled() Mark as cleaned
		a.btn.center-block.btn-default(href="/admin/etl/datasets/new") Create New Dataset