.container.top-padding-med
    .well
        legend Dataset Import Management
        .pull-right
            form.form-inline
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")
                .form-group.margin-left-med
                    select.form-control(
                    ng-model="sort_order"
                    ng-options="item.value as item.text for item in sort_options")
        table.table
            thead
                tr
                    th Name
                    th(style={"width": "30%", "word-wrap": "break-word"}) Source
                    th Action History
                    th Available Actions
            tbody
                tr(ng-repeat="dataset in datasets | filter:search_text | orderBy:sort_order")
                    td
                        text {{dataset.name}}
                    td(style={"width": "25%", "word-wrap": "break-word"})
                        a(href="{{dataset.source_url}}").wrap-content {{dataset.source_url}}
                    td(style={"width": "30%"})
                        p(ng-repeat="action in dataset.actions")
                            text {{action.name}} &nbsp;
                            a(ng-if="action.status == 'Success'" class=["label", "label-success"] data-toggle="tooltip" title="Click to read full report" href="{{'/admin/etl/datasets/' + dataset._id + '/actions/' + action._id + '/report'}}" target="_new") Success
                            span(ng-if="action.status == 'Started'" class=["label", "label-warning"]) Running
                            a(ng-if="action.status == 'Failed'" class=["label", "label-danger"] data-toggle="tooltip" title="Click to read full report" href="{{'/admin/etl/datasets/' + dataset._id + '/actions/' + action._id + '/report'}}" target="_new") Failed
                    td
                        .row
                            span(ng-if="(dataset.type == 'Google Sheets') && !dataset.status.isReadyForChecked")
                                a.btn.center-block.btn-default(ng-click="startAction('import', dataset._id)") Import
                            span(ng-if="(dataset.type != 'Google Sheets') || dataset.status.isReadyForChecked")
                                a.btn.center-block.btn-default.disabled() Import
                        .row
                            span(ng-if="dataset.status.isReadyForChecked")
                                a.btn.center-block.btn-default.disabled(ng-click="startAction('unload', dataset._id)") Unload (not implemented yet)
                            span(ng-if="!dataset.status.isReadyForChecked")
                                a.btn.center-block.btn-default.disabled() Unload (not implemented yet)
                        .row
                            span(ng-if="dataset.hasDuplicates")
                                a.btn.center-block.btn-default(href="/admin/reconcile") Reconcile
                            span(ng-if="!dataset.hasDuplicates")
                                a.btn.center-block.btn-default.disabled() Reconcile
                        .row
                            span(ng-if="dataset.status.isReadyForChecked")
                                a.btn.center-block.btn-default(ng-click="startAction('cleaned', dataset._id)") Mark as cleaned
                            span(ng-if="!dataset.status.isReadyForChecked")
                                a.btn.center-block.btn-default.disabled() Mark as cleaned
        a.btn.block.btn-default(href="/admin/etl/datasets/new") Create New Import
        a.btn.block.btn-default(target="_new" href="https://docs.google.com/spreadsheets/d/16vuQCT92gYsMGGNGgX-j12-giCmO3SrUak6cG8oulMM/copy") Open Template (create new dataset)