.container
   .page-header
      h1
         span(ng-bind-html="concession.concession_name|sanitize")
         =' '
         small Concession
   .row
      .col-md-12
         leaflet(center="country.countryMap",controls="controls",markers="country.projectMarkers",tiles="tiles",height='240px')
   .row
      .col-md-6
         .info-box
            h2 Concession Info
            table#project-info
               tbody
                  tr
                     td.project-label ID:
                     td {{concession._id}}
                  tr
                     td.project-label Aliases:
                     td.aliases
                        span(ng-repeat='alias in concession.concession_aliases')
                           span {{alias.name}}
                           span(ng-if="!$last") ,
                           =' '
                  tr
                     td.project-label Country:
                     td
                        a(href='country/{{concession.concession_country[0]._id}}')
                           span(ng-bind-html="concession.concession_country[0].name|sanitize")
                  tr
                     td.project-label Status:
                     td.commodity_type {{concession.concession_status[0].string}}
                        =' '
                        span(ng-if="concession.concession_status!=[]") (True at: {{concession.concession_status[0].date|date:'yyyy-MM-dd'}})
                  tr
                     td.project-label Commodities:
                     td.commodities
                        span(ng-repeat='commodity in concession.commodities')
                           a(href='commodity/{{commodity._id}}')
                              span(ng-bind-html="commodity.name|sanitize")
                           span(ng-if='!$last') ,
                           =' '
                 tr
                     td.project-label Open Oil ID:
                     td
                        a(href='contract/{{concession.oo_concession_id}}')
                           | {{concession.oo_concession_id}}
                  tr
                     td.project-label Contract:
                     td
                        span(ng-repeat='contract in concession.contracts')
                           a(href='contract/{{contract._id}}')
                              span(ng-bind-html="contract.name|sanitize")
                           span(ng-if='!$last') ,
                           =' '
      .col-md-6
         .info-box
            h2
               | &nbsp;
            table#project-info
               tbody
                  tr
                     td.project-label.our-id Desctiption:
                     td
                        span(ng-bind-html="concession.description|sanitize")
   .row
      .col-md-6
         h2 Projects
         table.table.table-striped.projects(ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='name') Name
                  th.tablesort-sortable-th(ts-criteria='name') Country
                  th.tablesort-sortable-th(ts-criteria='commodity') Commodity Type
                  th.tablesort-sortable-th(ts-criteria='commodity') Commodity
                  th.tablesort-sortable-th(ts-criteria='status') Status
            tbody
               tr(ng-repeat='project in country.projects',ts-repeat)
                  td
                     a(href='/project/{{project.id}}')
                        span(ng-bind-html="project.name|sanitize")
                  td {{project.commodity}}
                  td {{project.status}}
                  td {{project.count}}
                  td {{project.count}}
         .download
            span.glyphicon.glyphicon-download(aria-hidden="true")
            span  Download
               =' '
               a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%28COUNT%28distinct+%3Fcompany%29+as+%3FcompanyCount%29+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fname%0A++++OPTIONAL+%7B%0A+++++++++++++++%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+%0A++++%7D%0A%7D+%0AORDER+BY+%28%3Fname%29%0A%0A%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Projects CSV
      .col-md-6
         h2 Companies
            a=' '
            small Companies active in this country
         table.table.table-striped.companies(ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='name') Name
                  th.tablesort-sortable-th(ts-criteria='group') Group
            tbody
               tr(ng-repeat="company in country.companies",ts-repeat)
                  td
                     a(href="company/{{company.idCompany}}")
                        span(ng-bind-html="company.name|sanitize")
                  td
                     a(href="group/{{company.idGroup}}")
                        span(ng-bind-html="company.group|sanitize")
         .download
            span.glyphicon.glyphicon-download(aria-hidden="true")
            span  Download
               =' '
               a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fcompany+%3FcompanyName+%28xsd%3Astring%28%3Fgroup_%29+as+%3Fgroup%29++%3FgroupName+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fproject_name%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+.%0A+++++++++++++++%3Fcompany+skos%3AprefLabel+%3FcompanyName%0A++++++++OPTIONAL+%7B+%3FgroupMembership+rp%3Aorganisation+%3Fcompany+.%0A+++++++++++++++++++%3Fgroup_+rp%3AgroupMember+%3FgroupMembership+.%0A+++++++++++++++++++%3Fgroup_+skos%3AprefLabel+%3FgroupName%0A++++++++%7D%0A++++%7D+%0A%7D+%0AGROUP+BY+%3Fcompany+%3FcompanyName%0AORDER+BY+%3FcompanyName%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Companies CSV
   h2 Payments
   table.table.table-striped.payments(ts-wrapper)
      thead
         tr
            th.tablesort-sortable-th(ts-criteria='year') Year
            th.tablesort-sortable-th(ts-criteria='project') Project
            th.tablesort-sortable-th(ts-criteria='paidBy') Paid by
            th.tablesort-sortable-th.type(ts-criteria='type') Payment Type
            th.tablesort-sortable-th(ts-criteria='currency') Currency
            th.tablesort-sortable-th(ts-criteria='value|parseInt') Value
            th.tablesort-sortable-th(ts-criteria='receipt') Payment or receipt?
            th.tablesort-sortable-th(ts-criteria='id|parseInt') ID
      tbody
         tr(ng-repeat="payment in country.payments",ts-repeat)
            td {{payment.year}}
            td
               a(href="project/{{payment.projectId}}")
                  span(ng-bind-html="payment.project|sanitize")
            td
               a(href="company/{{payment.paidById}}")
                  span(ng-bind-html="payment.paidBy|sanitize")
            td {{payment.type}}
            td {{payment.currency}}
            td {{payment.value}}
            td {{payment.receipt}}
            td
               a(href="companypayment/{{payment.id}}")
                  span.glyphicon.glyphicon-info-sign(data-toggle="tooltip", data-placement="left", title="9c82db15d194a2c2", aria-hidden="true")
   .download
      span.glyphicon.glyphicon-download(aria-hidden="true")
      span  Download
      =' '
      a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%28COUNT%28distinct+%3Fcompany%29+as+%3FcompanyCount%29+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fname%0A++++OPTIONAL+%7B%0A+++++++++++++++%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+%0A++++%7D%0A%7D+%0AORDER+BY+%28%3Fname%29%0A%0A%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Projects CSV
   .advanced-links
      .container
         h3
            | Links
            =' '
            small Advanced
         ul
            li
               a(href='http://staging.nrgi-sandbox.net/default-view/http/resourceprojects.org/project/MX/adar-gok3sd') Triples View
            li
               a(href='http://staging.nrgi-sandbox.net/list-sources/http/resourceprojects.org/project/MX/adar-gok3sd') Sources
