.container.top-padding-med
	.well
		legend Sources
		.pull-right
			.btn-group
				button.btn.btn-default.pull-right(type='button')
					a(href='/admin/create-source') Create new source
		table.table
			thead
				tr
					th Source
					th Source type
					th Source date
					th 
			tbody
				tr(ng-repeat="source in sources | unique: '_id'")
					td.source_name
						span(ng-bind-html="source.source_name|sanitize")
					td.source_type {{source.source_type}}
					td.source_date {{source.source_date| date:'yyyy-MM-dd'}}
					td
						a.btn.center-block.btn-default(href="/admin/source-admin/{{source._id}}") Edit