.container.top-padding-med
	.well
		legend Companies
		.pull-right
			.btn-group
				button.btn.btn-default.pull-right(type='button')
					a(href='/admin/create-company') Create new concession
		table.table
			thead
				tr
					th.tablesort-sortable-th Name
					th.tablesort-sortable-th Group(s)
					th
			tbody
				tr(ng-repeat="company in companies | unique: '_id'")
					td.company_name
						span(ng-bind-html="company.company_name|sanitize")
					td.company_groups: text(ng-repeat="group in company.company_groups | unique: '_id'")
						span(ng-bind-html="group.company_group_name|sanitize")
						| {{$last ? '' : ', '}}
					td
						a.btn.center-block.btn-default(href="/admin/company-admin/{{company._id}}") Edit