.container
   .page-header
      h1
         span(ng-bind-html="commodity.name|sanitize")
         =' '
         small Commodity
   .row
      .col-md-12
         leaflet(center="commodity.countryMap",controls="controls",markers="commodity.projectMarkers",tiles="tiles", height='240px')
   .info-box
      h2 Commodity Info
      table#group-info
         tbody
            tr
               td.project-label(style='width:200px') Our Commodity ID:
               td {{commodity.id}}
   .row
      .col-md-6
         h2 Projects
         table.table.table-striped.projects(ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='name') Name
                  th.tablesort-sortable-th(ts-criteria='country') Country
            tbody
               tr(ng-repeat='project in commodity.projects',ts-repeat)
                  td
                     a(href='project/{{project.id}}')
                        span(ng-bind-html="project.name|sanitize")
                  td
                     a(href='country/{{project.countryId}}')
                        span(ng-bind-html="project.country|sanitize")
         .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            | Download:
            =' '
            a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0Aprefix+rp_misc%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2Fmisc%2F%3E%0Aprefix+skos_%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0A%0ASELECT+%3Fproject+%3Fname+%3Fcountry_name+WHERE+%7B%0A+++%0A%0A++++%3Fproject+rp%3AhasCommodity+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcommodity%2FAntimony%3E+.%0A++++%3Fproject+a+rp%3AProject++.%0A++++%3Fproject+skos%3AprefLabel+%3Fname+.%0A++++%3Fproject+rp%3AhasLocation+%3Fcountry+.%0A++++%3Fcountry+a+rp%3ACountry+.%0A++++%3Fcountry+skos_%3AprefLabel+%3Fcountry_name+%0A%0A%0A%7D%0AGROUP+BY+%3Fproject+%3Fname%0AORDER+BY+%3Fname%0A&format=text%2Fcsv&timeout=0&debug=on') Projects CSV
       .col-md-6
         h2 Companies
         table.table.table-striped.companies(ts-wrapper)
            thead
               tr
                  th.tablesort-sortable-th(ts-criteria='name') Name
                  th.tablesort-sortable-th(ts-criteria='group') Group
            tbody
               tr(ng-repeat='company in commodity.companies',ts-repeat)
                  td
                     a(href='company/{{company.idCompany}}')
                        span(ng-bind-html="company.name|sanitize")
                  td
                     a(href='group/{{company.idGroup}}')
                        span(ng-bind-html="company.group|sanitize")
         .download
            span.glyphicon.glyphicon-download(aria-hidden='true')
            |  Download:
            =' '
            a(href='/sparql?default-graph-uri=&query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+%3Fcompany+%3Fcompany_name+%3Fgroup+%3Fgroup_name+WHERE+%7B%0A%0A++++%3Fproject+rp%3AhasCommodity+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcommodity%2FAntimony%3E+.%0A++++%3Fproject++rp%3AhasStake+%3Fstake+.%0A++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A++++%3Fcompany+a+rp%3ACompany%0A++++OPTIONAL+%7B+%3Fcompany+skos%3AprefLabel+%3Fcompany_name+%7D+%0A++++%0A++++OPTIONAL+%7B+%3FgroupMembership+rp%3Aorganisation+%3Fcompany+.%0A+++++++++++++++%3Fgroup+rp%3AgroupMember+%3FgroupMembership+.%0A+++++++++++++++%3Fgroup+skos%3AprefLabel+%3Fgroup_name%0A++++%7D%0A%7D%0AGROUP+BY+%3Fcompany+%0AORDER+BY+%3Fcompany_name%0A&format=text%2Fcsv&timeout=0&debug=on') Companies CSV
    .advanced-links
      .container
         h3
            | Links
            =' '
            small Advanced
         ul
            li
               a(href='commodity/Antimony') Triples View
            li
               a(href='commodity/Antimony') Sources
