doctype
html
    head
        title Resource Projects
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/font-awesome.css")
        link(rel="stylesheet", href="/css/glyphicon.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/ngDialog/css/ngDialog.min.css")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/tether/css/tether.css")
        link(rel="stylesheet", href="/vendor/angular-tablesort/tablesort.css")
        link(rel="stylesheet", href="/vendor/leaflet/dist/leaflet.css")
        link(rel="stylesheet", href="/vendor/nvd3/build/nv.d3.min.css")
        link(rel="stylesheet", href="/vendor/textAngular/dist/textAngular.css")
        link(href="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css",rel="stylesheet")
    base(href="/")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts