doctype
html
    head
        title Resource Projects
        link(rel="stylesheet", href="/css/style.min.css")
        link(href="/css/style.css.map")
        link(href="/css/esri-leaflet.js.map")
    base(href="/")
    body(ng-app="app")
        include currentUser
        block main-content
        include scripts