//- GEN SCRIPTS
script(type="text/javascript", src="js/app.min.js")
//Text Angular
script(type="text/javascript", src="vendor/textAngular/dist/textAngular-rangy.min.js")
script(type="text/javascript", src="vendor/textAngular/dist/textAngular-sanitize.min.js")
script(type="text/javascript", src="vendor/textAngular/dist/textAngular.min.js")
// Controllers
script(type="text/javascript", src="js/controllers.min.js")