//- GEN SCRIPTS
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")

//- MAIN APP
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/nrgiNotifier.js")
script(type="text/javascript", src="/app/main/nrgiMainCtrl.js")

//- SERVICES
script(type="text/javascript", src="/app/services/nrgiAuthSrvc.js")
script(type="text/javascript", src="/app/services/nrgiIdentitySrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserSrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserMethodSrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserListSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiQuestionSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiQuestionMethodSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiQuestionTextSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiAssessmentSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiAssessmentMethodSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiAnswerSrvc.js")
//- script(type="text/javascript", src="/app/services/nrgiAnswerMethodSrvc.js")
//- script(type="text/javascript", src="/app/services/ApiSrvc.js")
//- script(type="text/javascript", src="/app/nrgiAnswerCtrl.js")
//- script(type="text/javascript", src="/app/boliviaCtrl.js")
//- script(type="text/javascript", src="/app/services/ApiSrvc.js")

//- ACCT CTRLS
//- script(type="text/javascript", src="/app/account/nrgiNavBarLoginCtrl.js")
//- script(type="text/javascript", src="/app/account/nrgiProfileCtrl.js")

//- ADMIN CTRLS
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminCreateCtrl.js")
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminCtrl.js")
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminUpdateCtrl.js")
//- script(type="text/javascript", src="/app/admin/questions/nrgiQuestionAdminCtrl.js")
//- script(type="text/javascript", src="/app/admin/questions/nrgiQuestionAdminUpdateCtrl.js")
//- script(type="text/javascript", src="/app/admin/assessments/nrgiAssessmentAdminAssignCtrl.js")
//- script(type="text/javascript", src="/app/admin/assessments/nrgiAssessmentAdminCtrl.js")
//- script(type="text/javascript", src="/app/admin/assessments/nrgiAssessmentAdminUpdateCtrl.js")
//- script(type="text/javascript", src="/app/admin/assessments/nrgiAssessmentDashboardCtrl.js")
//- script(type="text/javascript", src="/app/admin/assessments/nrgiAssessmentDashboardDetailCtrl.js")

//- USER CTRLS
//- script(type="text/javascript", src="/app/user/assessments/nrgiAssessmentsListCtrl.js")
//- script(type="text/javascript", src="/app/user/assessments/nrgiAssessmentDetailCtrl.js")
//- script(type="text/javascript", src="/app/user/assessments/nrgiAnswerCtrl.js")