//- GEN SCRIPTS
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/ngDialog/js/ngDialog.js")
script(type="text/javascript", src="/vendor/angular-tablesort/js/angular-tablesort.js")
script(type="text/javascript", src="/vendor/iso-3166-country-codes-angular/dist/iso-3166-country-codes-angular.min.js")
script(src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
script(type="text/javascript", src="/vendor/esri-leaflet/dist/esri-leaflet.js")
script(type="text/javascript", src="/vendor/angular-leaflet-directive/dist/angular-leaflet-directive.min.js")
script(type="text/javascript", src="/vendor/Leaflet.fullscreen/dist/Leaflet.fullscreen.js")
script(type = "text/javascript", src = "/vendor/typeahead.js/dist/typeahead.bundle.js")
script(type='text/javascript').
    $(document).ready(function(){
        $('.typeahead').typeahead({
            source: function (query, process) {
                $('.typeahead').addClass('wait');
                return $.get('/search/'+encodeURIComponent(query), { }, function (data) {
                    $('.typeahead').removeClass('wait');
                    return process(data);
                }, 'json');
            },
            afterSelect: function (obj) {
                $('.typeahead').attr('disabled', true);
                window.location = obj.uri;
            },
            displayText: function(item){ return item.value;}
        });
    });
//script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js")
//script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.widgets.min.js")

//- MAIN APP
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/common/nrgiNotifier.js")
script(type="text/javascript", src="/app/common/nrgiFilter.js")
script(type="text/javascript", src="/app/main/nrgiMainCtrl.js")
//companies
script(type="text/javascript", src="/app/companies/nrgiCompanyListCtrl.js")
//company groups
//concessions
//contracts
//countries
//payments
//projects
//sources


//script(type="text/javascript", src="/app/projects/nrgiProjectsCtrl.js")
//script(type="text/javascript", src="/app/projects/nrgiProjectCtrl.js")
//script(type="text/javascript", src="/app/projects/nrgiMapCtrl.js")
//script(type="text/javascript", src="/app/sources/nrgiSourcesCtrl.js")
//script(type="text/javascript", src="/app/sources/nrgiSourceCtrl.js")
//script(type="text/javascript", src="/app/countries/nrgiCountriesCtrl.js")
//script(type="text/javascript", src="/app/countries/nrgiCountryCtrl.js")
//script(type="text/javascript", src="/app/companies/nrgiCompanyCtrl.js")
//script(type="text/javascript", src="/app/companies/nrgiGroupsCtrl.js")
//script(type="text/javascript", src="/app/companies/nrgiGroupCtrl.js")
//script(type="text/javascript", src="/app/commodities/nrgiCommoditiesCtrl.js")
//script(type="text/javascript", src="/app/commodities/nrgiCommodityCtrl.js")
//script(type="text/javascript", src="/app/contracts/nrgiContractsCtrl.js")
//script(type="text/javascript", src="/app/contracts/nrgiContractCtrl.js")
//script(type="text/javascript", src="/app/concessions/nrgiConcessionsCtrl.js")
//script(type="text/javascript", src="/app/concessions/nrgiConcessionCtrl.js")

//- DIRECTIVES
script(type="text/javascript", src="/app/directives/directives/nrgi-list-nav.js")

//- DIRECTIVE CTRLS
script(type="text/javascript", src="/app/directives/controllers/nrgiListNavCtrl.js")

//- SERVICES
script(type="text/javascript", src="/app/services/nrgiAuthSrvc.js")
script(type="text/javascript", src="/app/services/nrgiIdentitySrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserSrvc.js")
script(type="text/javascript", src="/app/services/nrgiUserListSrvc.js")
script(type="text/javascript", src="/app/services/nrgiCompaniesSrvc.js")
script(type="text/javascript", src="/app/services/nrgiCountriesSrvc.js")
script(type="text/javascript", src="/app/services/nrgiSourcesSrvc.js")
script(type="text/javascript", src="/app/services/nrgiContractsSrvc.js")
script(type="text/javascript", src="/app/services/nrgiConcessionsSrvc.js")
script(type="text/javascript", src="/app/services/nrgiProjectsSrvc.js")

//- METHODS
script(type="text/javascript", src="/app/services/methods/nrgiCompaniesMethodSrvc.js")
script(type="text/javascript", src="/app/services/methods/nrgiUserMethodSrvc.js")

//- ACCT CTRLS
script(type="text/javascript", src="/app/account/nrgiNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/account/nrgiProfileCtrl.js")

//- ADMIN CTRLS
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminCreateCtrl.js")
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminCtrl.js")
script(type="text/javascript", src="/app/admin/users/nrgiUserAdminUpdateCtrl.js")