.container
   .page-header
      h1 Angola
         =' '
         small Country
   .row
      .col-md-12
         leaflet(center="sidney",tiles="tiles", height='240px')
   .row
      .col-md-6
         h2 Projects
         table.table.table-striped.projects.tablesorter.tablesorter-default
            thead
               tr.tablesorter-headerRow
                  th.tablesorter-header(data-column="0",tabindex="0",unselectable="on",style="-webkit-user-select: none;")
                     .tablesorter-header-inner Name
                  th.tablesorter-header(data-column="1",tabindex="0",unselectable="on",style="-webkit-user-select: none;")
                     .tablesorter-header-inner Commodity
                  th.tablesorter-header(data-column="2",tabindex="0",unselectable="on",style="-webkit-user-select: none;")
                     .tablesorter-header-inner Status
                  th.tablesorter-header(data-column="3",tabindex="0",unselectable="on",style="-webkit-user-select: none;")
                     .tablesorter-header-inner No. Companies
            tbody
               tr(ng-repeat='project in projects')
                  td
                     a(href='/project/{{project.id}}') {{project.name}}
                  td {{project.commodity}}
                  td {{status}}
                  td {{count}}
         .download
            span.glyphicon.glyphicon-download(aria-hidden="true")
            span  Download
               =' '
               a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%28COUNT%28distinct+%3Fcompany%29+as+%3FcompanyCount%29+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fname%0A++++OPTIONAL+%7B%0A+++++++++++++++%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+%0A++++%7D%0A%7D+%0AORDER+BY+%28%3Fname%29%0A%0A%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Projects CSV
      .col-md-6
         h2 Companies
            a=' '
            small Companies active in this country
         table.table.table-striped.companies.tablesorter.tablesorter-default
            thead
               tr.tablesorter-headerRow
                  th.tablesorter-header(data-column="0",tabindex="0",unselectable="on",style="-webkit-user-select: none;")
                     .tablesorter-header-inner Name
                  th.tablesorter-header(data-column="1",tabindex="0",unselectable="on",style="-webkit-user-select: none;")
                     .tablesorter-header-inner Group
            tbody
               tr(ng-repeat="company in companies")
                  td
                     a(href="company/{{company.id}}") company.name
                  td
                     a(href="")
         .download
            span.glyphicon.glyphicon-download(aria-hidden="true")
            span  Download
               =' '
               a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fcompany+%3FcompanyName+%28xsd%3Astring%28%3Fgroup_%29+as+%3Fgroup%29++%3FgroupName+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fproject_name%0A++++%0A++++OPTIONAL+%7B+%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+.%0A+++++++++++++++%3Fcompany+skos%3AprefLabel+%3FcompanyName%0A++++++++OPTIONAL+%7B+%3FgroupMembership+rp%3Aorganisation+%3Fcompany+.%0A+++++++++++++++++++%3Fgroup_+rp%3AgroupMember+%3FgroupMembership+.%0A+++++++++++++++++++%3Fgroup_+skos%3AprefLabel+%3FgroupName%0A++++++++%7D%0A++++%7D+%0A%7D+%0AGROUP+BY+%3Fcompany+%3FcompanyName%0AORDER+BY+%3FcompanyName%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Companies CSV
   h2 Payments
   table.table.table-striped.payments.tablesorter.tablesorter-default
      thead
         tr.tablesorter-headerRow
            th.tablesorter-header(data-column="0", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Year
            th.tablesorter-header(data-column="1", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Project
            th.tablesorter-header(data-column="2", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Paid by
            th.tablesorter-header(data-column="3", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Payment Type
            th.tablesorter-header(data-column="4", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Currency
            th.tablesorter-header(data-column="5", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Value
            th.tablesorter-header(data-column="6", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner Payment or receipt?
            th.tablesorter-header(data-column="7", tabindex="0", unselectable="on", style="-webkit-user-select: none;")
               .tablesorter-header-inner ID
      tbody
         tr(ng-repeat="payment in payments")
            td {{payment.year}}
            td
               a(href="project/{{payment.project.id}}") {{payment.project.name}}
            td
               a(href="") {{payment.paid}}
            td {{payment.type}}
            td {{payment.currency}}
            td {{payment.value}}
            td {{payment.paymentOrReceipt}}
            td
               a(href="governmentreceipt/{{payment.governmentreceiptId}}")
               span.glyphicon.glyphicon-info-sign(data-toggle="tooltip", data-placement="left", title="9c82db15d194a2c2", aria-hidden="true")
   .download
      span.glyphicon.glyphicon-download(aria-hidden="true")
      span  Download
      =' '
      a(href="/sparql?default-graph-uri=&amp;query=PREFIX+skos%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2004%2F02%2Fskos%2Fcore%23%3E%0Aprefix+rp%3A+%3Chttp%3A%2F%2Fresourceprojects.org%2Fdef%2F%3E%0A%0ASELECT+DISTINCT+%3Fproject+%3Fname+%28COUNT%28distinct+%3Fcompany%29+as+%3FcompanyCount%29+WHERE+%7B%0A++++%3Fproject+rp%3AhasLocation+%3Chttp%3A%2F%2Fresourceprojects.org%2Fcountry%2FAO%3E+.%0A++++%3Fproject+a+rp%3AProject+.%0A++++%3Fproject+skos%3AprefLabel+%3Fname%0A++++OPTIONAL+%7B%0A+++++++++++++++%3Fproject+rp%3AhasStake+%3Fstake+.%0A+++++++++++++++%3Fstake+rp%3AhasStakeholder+%3Fcompany+.%0A+++++++++++++++%3Fcompany+a+rp%3ACompany+%0A++++%7D%0A%7D+%0AORDER+BY+%28%3Fname%29%0A%0A%0A&amp;format=text%2Fcsv&amp;timeout=0&amp;debug=on") Projects CSV
   .advanced-links
      .container
         h3
            | Links
            =' '
            small Advanced
         ul
            li
               a(href='http://staging.nrgi-sandbox.net/default-view/http/resourceprojects.org/project/MX/adar-gok3sd') Triples View
            li
               a(href='http://staging.nrgi-sandbox.net/list-sources/http/resourceprojects.org/project/MX/adar-gok3sd') Sources
