.container
    .row.top-padding-med.bottom-padding-med
        .col-md-6
            h1 Resource Projects Users

    .row.bottom-padding-lg
        div.col-md-5
            a.btn.block.btn-primary-outline(href="/admin/create-user") Create New User
        div.col-md-4
        div.col-md-3
            form.form-inline
                .form-group
                    input.form-control(
                    ng-model="search_text"
                    placeholder="Filter")


    table#datasets.table(ts-wrapper)
        thead
            tr
                th.tablesort-sortable-th(ts-criteria='first_name') First Name
                th.tablesort-sortable-th(ts-criteria='last_name') Last Name
                //th(style={"width": "30%", "word-wrap": "break-word"}) Source
                th.tablesort-sortable-th(ts-criteria='email') Email
                th.tablesort-sortable-th(ts-criteria='username') Username
                th Roles
                th

        tbody
            tr(ng-repeat="user in users | filter:search_text" ts-repeat)
                td {{user.first_name}}
                td {{user.last_name}}
                td
                    a(href="mailto:{{user.email}}") {{user.email}}
                td {{user.username}}
                td
                    p(ng-repeat="role in user.role")
                        text {{role}}
                td
                    a.btn.center-block.btn-primary-outline(href="/admin/user-admin/{{user._id}}") Edit




//        table.table
//            thead
//                tr
//                    th Name
//                    th Username
//                    th Roles
//                    th
//            tbody
//                tr(ng-repeat="user in users | filter:search_text | orderBy:sort_order")
//                    td
//                        a(href="mailto:{{user.email}}") {{user.first_name}} {{user.last_name}}
//                    td {{user.username}}
//                    td
//                        p(ng-repeat="role in user.roles")
//                            text {{role}}
//
//
//        a.btn.block.btn-secondary(href="/admin/create-user") Create New User