.container(ng-controller="nrgiNavBarLoginCtrl")
	.page-header
		h1 About
	p Across the world, governments and companies are involved in natural resource projects, generating billions of dollars. The Natural Resource Governance Institute (NRGI) works to help people to realize the benefits of the endowments of oil, gas and minerals in their countries. Transparency is an important part of this, and new regulations are coming into force around the world to encourage greater project-level disclosure of extractives activities and revenues.
	p ResourceProjects.org is a prototype platform to bring together data on individual extractives projects.

	h2#why-project-level-data-matters Why project level data matters:

	p Projects represent the physical, tangible presence of extractive operations in a country. The project is the mine that people see out of their window, or the oil field along their coastline. It has a location, an owner, and it employs people. Each projects is tied to a contract, or license.
	p
		| Governments and citizens groups alike can use project data to model resource project revenues and consequently forecast budgets, such as
		a(href='http://www.resourcegovernance.org/news/blog/forecasting-ghanas-oil-revenues-what-open-fiscal-modelling-tells-us-about-budget-year-ahea')  in Ghana
		=' where all interested parties can see how different oil prices affect the money available for the 2015 budget. Others, such as '
		a(href='http://www.globalwitness.org/ugandaoilcontracts/')  Global Witness
		=' , have used this to model hypothetical oil projects, using contract information, while IMF economists routinely use (and stress '
		a(href='http://www.imfbookstore.org/ProdDetails.asp?ID=NRRAHEA')  the importance of
		=') project-level information for'
		a(href='http://www.resourcegovernance.org/news/blog/modeling-masses-why-imf-should-open-fari-model-public-use')  fiscal design and technical assistance
		|.
	p
		|Project information has a multitude of applications beyond fiscal modeling. It can be tied to spatial data to help better understand local impacts or environmental consequences, as highlighted by recent
		a(href='http://www.annualreviews.org/doi/abs/10.1146/annurev-resource-100814-125106')  academic
		a(href='http://www.theigc.org/wp-content/uploads/2014/09/Aragon-Rud-2013-Working-Paper.pdf')  papers
		|.
	p
		|(
		a(href='http://tech.transparency-initiative.org/follow-the-money-jim-cust-open-project-data-matters/') Source
		|)
	p
		strong Bringing the data together:

	p Right now, the project information that is disclosed is often very scattered - reported in fragmentary tables in PDF reports, or mixed together with aggregate country, company and corporate group information. It is difficult to find the relationships between projects, contracts, companies and corporate groups.
	p
		|Through this prototype we have established
		a(href='/model')  data model
		=' for bringing together data on countries, companies, projects, and payments related to them. We are adding support for license, contract and concession information, building a rich'
		a(href='https://en.wikipedia.org/wiki/Linked_data')  linked data
		=' platform.'
	p Data from a number of sources has been loaded into the prototype, showing how we can bring together multiple project level reports to get a more comprehensive view of the extractives industry.
	p The platform currently provides

	ul
		li
			p A simple spreadsheet template for data creation, making it easy to research and transcribe project level information;
		li
			p Common identifiers for key entities, including projects, companies and corporate groups - supporting linkage between datasets;
		li
			p A browse interface onto existing project-level reports loaded to the platform;
		li
			p Full provenance information, allowing data-points to be traced back to their source;

	p We will be working to add:
	ul
		li
			p
				|Linkages to relevant third-party data (including company data from
				strong  Open Corporates,
				=' and contracts data from '
				strong ResourceContracts.org
				|);
		li
			p Improved APIs and data export features;
		li
			p Easier tools for suggesting data updates and corrections;
		li
			p Tools for greater data quality control;

	p
		strong Get involved:

	p You can support the development of this project by:
	ul
		li
			p
				a(href='/contribute') Contributing project-level data
				|;
		li
			p Sharing your feedback;

