.container
   .page-header
      h1 Contribute
   p We&rsquo;re developing approaches to make it easy for you to contribute data to Resource Projects, either by:
   ul
      li
         p Submitting new project level reporting data
      li
         p Submitting corrections and enhancements to the existing data
   p We&rsquo;ve prepared a simple Google Spreadsheet template that steps you through providing key data on:
   ul
      li
         p Companies and corporate groupings
      li
         p Projects and sites
      li
         p Company payments to government, and government receipts
   p You can
      =' '
      a(href='https://docs.google.com/spreadsheets/d/16vuQCT92gYsMGGNGgX-j12-giCmO3SrUak6cG8oulMM/copy') access a copy of the spreadsheet here

   h2#using-the-template Using the template

   p There are four stages to getting data onto the Resource Projects platform. Most of the time you just need to work on stage (1) and (2), and then get in touch and we&rsquo;ll be able to take it from there.

   h3#get-your-copy (1) Get your copy
   p
      |Making sure you are have a
      =' '
      a(href='http://google.com/accounts/') Google Account
      =' and are logged in, '
      a(href='https://docs.google.com/spreadsheets/d/16vuQCT92gYsMGGNGgX-j12-giCmO3SrUak6cG8oulMM/copy') follow this link to make a copy of the spreadsheet template
      ='.'

   h3#enter-data (2) Enter data

   p Work through the instructions in the spreadsheet to enter your data.
   p You may wish to copy your source data into a new tab of the sheet.
   p Once you&rsquo;ve filled in all your data:
   ol(style='list-style-type: decimal')
      li
         p Set the sharing settings of your spreadsheet so that anyone can view it;
      li
         p Choose &lsquo;Publish to the web&rsquo; from the file menu, and choose &lsquo;Publish&rsquo;;

   h3#reconcile-identifiers (3) Reconcile identifiers

   p Before the data is loaded, we need to make sure we match key entities to existing data on the platform.
   p On the &apos;Add On&apos; menu you should find a menu item called &apos;ResourceProjects.org&apos; which contains items to:
   ul
      li Search for identifier
      li Reconcile column
   p Selecting a column with project, company or group names, choose one of these options.
   p Search for identifier just checks whether the item in the current row is already known on the platform.
   p Reconcile column works through all the values in the selected column, from the selected cell downwards, looking up their identifiers. You may need to go back to manually reconcile identifiers where the system finds more than one possible match.
   p The first time you run this process you might need to authorise the add on.

   h3#stage-and-load-the-data (4) Stage and load the data

   p The team at NRGI will be able to load your data into the staging server, and to check that it all makes sense.
   p Once checked, it is then loaded to the live ResourceProjects.org

