.container(ng-controller="nrgiNavBarLoginCtrl")
    .page-header
        h1 ResourceProjects.org
        p.
            Across the world, governments and companies are involved in natural resource projects, generating billions of dollars. The Natural Resource Governance Institute (NRGI) works to help
            people to realize the benefits of the endowments of oil, gas and minerals in their countries. Continued effort in making the sector more transparent led to an increasing amount of
            information becoming available, but this information is currently underutilized partly due to difficulties and costs in accessing it.
        p.
            ResourceProjects.org is an open-source repository of data on oil, gas and mining projects across the world. It provides a platform to collect and search extractive project information
            using linked open data. It aims to harvest data on the location, status, associated contracts, companies, licenses from a variety of government and industry sources, as well as project-
            by-project payments to governments based on recent mandatory disclosure legislations in the EU, US and Canada. The platform will make it easier for journalists, CSOs, researchers
            and government officials to search, access and download relevant data originating from these various sources.
        p.
            ResourceProjects.org is a prototype under developement. Current data on the site is illustrative only, and no warranty of its accuracy or completeness is provided. ResourceProjects.org
            is licensed under CC-BY-SA.