.container
    .row.pagetitle
        .col-md-5
            h2 An open-source data repository on oil, gas and mining projects
            p Across the world, governments and companies are involved in natural resource projects, generating billions of dollars. Continued effort in making the sector more transparent has led to an increasing amount of information becoming available, but this information is currently underutilized partly due to difficulties and costs in accessing it.
            p ResourceProjects.org provides a platform to collect and search extractive project information using open data. It aims to harvest data on project-by-project payments to governments based on recent mandatory disclosure legislation in the EU, Norway, US and Canada as well as in EITI reports. ResourceProjects.org then links that data to associated information such as project location and status, associated contracts, companies and licenses from a variety of government and industry sources. The platform will make it easier for journalists, CSOs, researchers and government officials to search, access and download relevant data originating from these various sources.
            p ResourceProjects.org is a prototype under development. Current data on the site is illustrative only, and no warranty of its accuracy or completeness is provided. ResourceProjects.org is licensed under CC-BY-SA.
        .col-md-7.top-padding-lg
            iframe(
            width="100%"
            height="520"
            frameborder="0"
            src="http://giorgivola.cartodb.com/viz/29d6c888-f680-11e5-8b27-0e8c56e2ffdb/embed_map"
            allowfullscreen
            webkitallowfullscreen
            mozallowfullscreen
            oallowfullscreen
            msallowfullscreen)
    //nrgi-summary-stats
    //nrgi-last-added