.container
   .page-header
      h1 Named graphs available

      ul
         li http://localhost:8890/DAV/
         li http://localhost:8890/sparql
         li http://staging.resourceprojects.org/Angola Oil
         li http://staging.resourceprojects.org/CountryData
         li http://staging.resourceprojects.org/EITI Philippines
         li http://staging.resourceprojects.org/Ghana EITI Mining Projects
         li http://staging.resourceprojects.org/Mexico Mining
         li http://staging.resourceprojects.org/Peru Mining
         li http://staging.resourceprojects.org/Tullow 2014
         li http://www.openlinksw.com/schemas/virtrdf#<
         li http://www.w3.org/2002/07/owl#
         li http://www.w3.org/ns/ldp#




































