.container
    .page-header
        h3(class="text-center") {{year_filter}} {{currency_filter}} PAYMENTS (IN $MILLION)
        .row.top-padding-med
            .right-padding-lg: b Filter by:
        .row.top-padding-med
            .col-md-2
                .row: b Year
                .row
                    form.form-inline
                        .form-group
                            select.form-control(ng-model="year_filter")
                                option(ng-repeat="(key, value) in year_selector" value="{{key}}") {{key}}
            .col-md-8
                .row: b Currency
                .row
                    form.form-inline
                        .form-group
                            select.form-control(ng-model="currency_filter")
                                option(ng-repeat="(key, value) in currency_selector" value="{{key}}") {{key}}
        h3(class="text-center") Total: {{total}} $ million
        nvd3(options="options" data="data")