@import "../variables"

h1, h2, h3, th
  color rgb(85,114,136) !important

a
  color #494641

.left-padding-lg
  padding-left $padding-large
.top-padding-lg
  padding-top $padding-large
.right-padding-lg
  padding-right $padding-large
.bottom-padding-lg
  padding-bottom $padding-large

.left-padding-med
  padding-left $padding-regular
.top-padding-med
  padding-top $padding-regular
.right-padding-med
  padding-right $padding-regular
.bottom-padding-med
  padding-bottom $padding-regular

.margin-left-med
  margin-left $margin-regular
.margin-bottom-med
  margin-bottom $margin-regular

.blockquote
  font-size 17.5px!important
.blockquote small
  display block
  font-size 80%
  line-height 1.42857143
  color #777
.blockquote .small:before, .blockquote footer:before, .blockquote small:before
  content '\2014 \00A0'

.text-center
  text-align center

.form-control, .btn
  font-size 14px!important

.btn-col
  width 100%

.wrap-content
  overflow-wrap break-word
  word-wrap break-word
  -ms-word-break break-all
  word-break break-word

.filter-form
  padding-top 20px
  padding-bottom 20px

.pagetitle
  padding-top 5vh

.pagetitle
  padding-top 3vh

.dropdown
  text-align center
.dropdown form.inline
  display inline

.type
  width 35%
.navigate
  font-size 30px !important
  padding 0 5px !important
  color #000000 !important
.pager li>a, .pager li>span
  display inline-block !important
  padding 4px 3px !important
  background-color transparent !important
  border none !important
.btn.disabled, .btn[disabled], fieldset[disabled] .btn
  opacity .3!important
.container-fluid
  padding-right 16%!important
  padding-left 16%!important
.commodity_type,.status
  text-transform capitalize !important
#project-info
  width 90%
li .glyphicon
  color #31708f
li .glyphicon[disabled]
  pointer-events: none
  cursor not-allowed
  color #777 !important
.resolve, .update
  width 48px