@import "../variables"

body
  padding-top 100px
  font-size 14px!important
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

footer
  margin-top 40px
  padding-top 20px
  /* border-top 4px solid rgb(215, 219, 223); */
  border-top 8px solid #D6D8CB
  background #EEEFE8
  color #333
  min-height 200px;

.page-container
  padding-top $padding-regular
  min-width 500px

.page-well
  margin $margin-regular 70px $margin-regular $padding-large

.page-header
  padding-bottom 9px
  margin 20px 0 20px !important
  border-bottom 1px solid #eee

.page-header .btn-group
  margin-top 20px

.card
  min-height 20px
  padding 19px
  margin-bottom 20px
  background-color #f5f5f5!important
  border 1px solid #e3e3e3
  border-radius 4px
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.05)
  box-shadow inset 0 1px 1px rgba(0,0,0,.05)

.dropdown-menu
  font-size 14px!important

.btn-primary-outline
  color #0275d8
  background-color transparent
  background-image none
  border-color #0275d8!important

.type_filter, .company_filter
  width 90% !important;
.hidden-nv-text
  display  none !important
//.header-fixed
//  height 300px!important
//  margin-bottom 90px!important
//.header-fixed>tbody
//  /*width 100%!important*/
//  position absolute!important
//  max-height 300px!important
//  overflow-y scroll!important
//.header-fixed>tbody>tr:not(.showIfLast) ,.header-fixed>thead>tr
//  width 100%!important
//  display inline-table
//  table-layout fixed!important
//