#leaflet
  height 480px
#map
  height 540px
  position relative
.info
  padding 20px
  font-family 'Lato', sans-serif
  font-size 1em
  background rgba(255, 255, 255, 0.9)
  box-shadow 0 0 15px rgba(0, 0, 0, 0.4)

.info h4
  margin 0 0 5px
  color #3D3938

.legend-esri
  color #555555
  line-height 18px
  max-height 250px
  width 215px
  padding-bottom 10px
  padding-top 10px
  overflow auto

.legend-esri .outline
  border 1px solid #CCCCCC
  border-radius 6px 6px 6px 6px
  float left
  height 12px
  margin 3px 10px 3px 3px
  padding 2px
  width 12px

.legend-esri .outline i
  border-radius 4px 4px 4px 4px
  float left
  height 6px
  width 6px

.legend-esri .inline
  clear both
  float left
  margin-right 10px

.legend-esri .info-title
  clear both
  float left
  font-size 0.9em
  font-weight bold
  margin 5px 0
  width 100%

.legend-esri .info-label
  float left
  width 170px
  font-size 0.8em

div.advanced-links
  margin 20px 0
  border-top 1px solid #EEEFE8
  padding-top 20px
#projectMap
  height 540px
td.detail_label
  width 150px
  font-weight bold
  padding 2px 5px 0 2px
  vertical-align top
td.project-label table
  font-weight normal
body
  padding-top 100px
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

td.project-label
  width 150px
  font-weight bold
  padding 2px 5px 0 2px
  vertical-align top
.location-th
  background-image:none!important;
.leaflet-popup-content
  font-weight:bold
.type
  width 35%
.navigate
  font-size 30px !important
  padding 0 5px !important
  color #000000 !important
.pager li>a, .pager li>span
  display inline-block !important
  padding 4px 3px !important
  background-color transparent !important
  border none !important
.btn.disabled, .btn[disabled], fieldset[disabled] .btn
  opacity .3!important
.container-fluid
  padding-right 16%!important
  padding-left 16%!important
.commodity_type,.status
  text-transform capitalize !important
#project-info
  width 90%
li .glyphicon
  color #31708f
li .glyphicon[disabled]
  pointer-events: none
  cursor not-allowed
  color #777 !important
.angular-leaflet-map
  height 240px
#projectMap>.angular-leaflet-map
  height 540px!important
