.table-responsive
  overflow-x auto

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc
  background-image url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7')
  border-bottom #000 2px solid

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc
  background-image url('data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7')
  border-bottom #000 2px solid

.tablesorter-header-inner
  margin-left 10px

.tablesorter-headerRow
  background-color white

.tablesorter-default .tablesorter-header
  background-image url('data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==')
  background-position center left
  background-repeat no-repeat
  cursor pointer

.header-fixed
  height 300px!important
  margin-bottom 90px!important
.header-fixed>tbody
  /*width 100%!important*/
  position absolute!important
  max-height 300px!important
  overflow-y scroll!important
.header-fixed>tbody>tr:not(.showIfLast) ,.header-fixed>thead>tr
  width 100%!important
  display inline-table
  table-layout fixed!important

.spinner
  width 40px
  height 40px
  position relative
  margin 45px auto
  z-index 2 !important

.double-bounce1, .double-bounce2
  width 100%
  height 100%
  border-radius 50%
  background-color #333
  opacity 0.6
  position absolute
  top 0
  left 0
  -webkit-animation sk-bounce 2.0s infinite ease-in-out
  animation sk-bounce 2.0s infinite ease-in-out

.double-bounce2
  -webkit-animation-delay -1.0s
  animation-delay -1.0s

@-webkit-keyframes sk-bounce
  0%, 100%
    -webkit-transform scale(0.0)
  50%
    -webkit-transform scale(1.0)

@keyframes sk-bounce
  0%, 100%
    transform scale(0.0)
    -webkit-transform scale(0.0)
  50%
    transform scale(1.0)
    -webkit-transform scale(1.0)


.load_table .showIfLast td:after
  content: "" !important;
.load_table .showLast td:after
  content: "No data" !important;
@-moz-document url-prefix()
  #transfers .header-fixed>tbody
    width: 100%!important;
    position: absolute !important;
    height: auto;
    max-height: 300px !important;
    overflow-y:scroll !important;
    top:25%;
  .header-fixed>tbody
    width: 100%!important;
    position: absolute !important;
    height: auto;
    max-height: 300px !important;
    overflow-y:scroll !important;
    top:21%;

table .table-header-fixed
  position fixed
  top 100px
  z-index 1020
.hide
  display none !important
.table-header-fixed
  height auto!important
  background-color white
  margin-bottom 90px !important
.transfer_value
  text-align right
  direction ltr
.not_found
  padding 15%

.iframedata
  width 100%
  min-height 330px
  border 1px solid lightgrey
.right_button
  float right !important
@supports (-ms-ime-align:auto)
  .panel-collapse thead
      display block