.load_table .showIfLast td:after
  content: "" !important;
.load_table .showLast td:after
  content: "No data" !important;
@-moz-document url-prefix()
  #transfers .header-fixed>tbody
    width: 100%!important;
    position: absolute !important;
    height: auto;
    max-height: 300px !important;
    overflow-y:scroll !important;
    top:25%;
  .header-fixed>tbody
    width: 100%!important;
    position: absolute !important;
    height: auto;
    max-height: 300px !important;
    overflow-y:scroll !important;
    top:21%;